.DV_tasks {
  .dataview.table-view-table {
    .table-view-thead {
      display: none;
    }

    .table-view-tbody {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      tr {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 49.7%;

        align-content: flex-start;

        position: relative;
        margin: 0px;

        width: 50%;
        height: 10em;

        border: 1.5px solid var(--tab-outline-color);
        border-radius: 3px;

        transition: all 100ms ease-in-out;

        &:hover {
          transform: translate(0px, -2px);
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        &:has(> td:last-child:nth-child(odd)) {
          td:first-of-type {
            flex: 0 1 100%;
          }

          td:not(:first-of-type) {
            flex: 1 0 50%;
            overflow-y: hidden;
            max-height: 41.5%;

            &:nth-child(even) {
              text-align: left;
              padding-right: 2px;
            }

            &:nth-child(odd) {
              text-align: right;
              padding-left: 2px;
            }
          }
        }

        &:has(> td:last-child:nth-child(even)) {
          td:first-of-type {
            flex: 0 1 100%;
          }

          td:nth-child(2) {
            flex: 0 1 100%;
            text-align: center;
          }

          td:not(:first-of-type, :nth-child(2)) {
            flex: 1 0 50%;
            overflow-y: hidden;
            max-height: 40%;

            &:nth-child(odd) {
              text-align: left;
              padding-right: 2px;
            }
            &:nth-child(even) {
              text-align: right;
              padding-left: 2px;
            }
          }
        }

        td {
          width: 1px;
          border: none;
          padding: 3px;
          //word-break: break-all;

          &:first-of-type {
            padding-top: 0px;
          }
        }
      }
    }
  }
}
