.workspace-split.mod-horizontal.mod-left-split {
  .nav-folder.mod-root > .nav-folder-title {
    justify-content: center;
    font-weight: bolder;
  }

  .nav-folder-title {
    font-weight: 600;
  }

  .nav-folder-title,
  .nav-file-title {
    transition: background-color 50ms ease-in-out;
    border-radius: 3px;
  }
}

.tree-item-self.is-clickable,
.clickable-icon {
  transition: background-color 50ms ease-in-out;
  border-radius: 3px;
}
