body {
  --top-header-height: 30px;
}

.workspace-split.mod-horizontal.mod-left-split,
.workspace-split.mod-horizontal.mod-right-split {
  .workspace-tab-header-container {
    display: block;
    padding: 0px;

    height: var(--top-header-height);
    transition: height 175ms ease-in-out, opacity 175ms ease-in-out;

    .workspace-tab-header-container-inner {
      display: flex;
      justify-content: center;

      padding: 0px;
      margin: 0px;
      gap: 0px;

      height: 100%;

      .workspace-tab-header {
        flex: auto;

        height: 100%;
        width: 100%;

        border-radius: 0px;

        transition: background-color 50ms ease-in-out;

        &:first-of-type {
          border-left: var(--tab-outline-width) solid var(--tab-outline-color);
        }

        .workspace-tab-header-inner {
          border-radius: 0px;
        }
      }
    }
  }

  &.is-sidedock-collapsed {
    .workspace-tab-header-container {
      .workspace-tab-header-container-inner {
        .workspace-tab-header {
          &:first-of-type {
            border-left: 0px;
          }
        }
      }
    }
  }
}

.workspace-split.mod-horizontal.mod-left-split {
  .workspace-tab-container {
    border-left: var(--tab-outline-width) solid var(--background-secondary);
  }

  &:not(.is-sidedock-collapsed) {
    .workspace-tab-container {
      border-left: var(--tab-outline-width) solid var(--tab-outline-color);
    }
  }
}

.workspace-ribbon.side-dock-ribbon.mod-left {
  transition: border-right-color 250ms 95ms ease-in-out,
    background-color 250ms 95ms ease-in-out;

  &:not(.is-collapsed) {
    border-right: 0px solid transparent;
  }
}
