/*!
/* @settings

name: Color Scheme Specifics
id: CS_GC_Dark
settings:
  -
    id: CS_GC_D_font
    title: Custom Theme Font
    type: class-select
    allowEmpty: false
    default: CS_GC_D_F_Kalam_Coffee
    options:
      -
        label: Asap
        value: CS_GC_D_F_Asap_Default
      - 
        label: Kalam
        value: CS_GC_D_F_Kalam_Coffee
      -
        label: Amiri
        value: CS_GC_D_F_Amiri_Fancy
  - 
    id: CS_GC_D_bold
    title: Bold Color
    type: variable-color
    opacity: false
    format: hex
    default: "#d6681f"
  -
    id: CS_GC_D_italic
    title: Italic Color
    type: variable-color
    opacity: false
    format: hex
    default: "#e9a424"
  -
    id: CS_GC_D_highlight
    title: Highlight Color
    type: variable-color
    opacity: true
    format: rgb
    default: rgba(160, 99, 38, 0.4)
*/

/*!
/* @settings

name: Color Scheme Specifics
id: CS_GC_Light
settings:
  -
    id: CS_GC_L_font
    title: Custom Theme Font
    type: class-select
    allowEmpty: false
    default: CS_GC_L_F_Kalam_Coffee
    options:
      -
        label: Asap
        value: CS_GC_L_F_Asap_Default
      -
        label: Kalam
        value: CS_GC_L_F_Kalam_Coffee
      -
        label: Amiri
        value: CS_GC_L_F_Amiri_Fancy
  - 
    id: CS_GC_L_bold
    title: Bold Color
    type: variable-color
    opacity: false
    format: hex
    default: "#b36b29"
  -
    id: CS_GC_L_italic
    title: Italic Color
    type: variable-color
    opacity: false
    format: hex
    default: "#d88405"
  -
    id: CS_GC_L_highlight
    title: Highlight Color
    type: variable-color
    opacity: true
    format: rgb
    default: rgba(255, 203, 61, 0.4)
*/

body {
  &:not(
      .FCS_D_default,
      .FCS_D_default_deep_dive,
      .FCS_D_ALCH,
      .FCS_D_RS,
      .FCS_L_default
    ),
  .FCS_D_GC {
    // Dark Mode
    --CS_GC_D_bold: #ce631c;
    --CS_GC_D_italic: #da9517;
    --CS_GC_D_highlight: rgba(160, 99, 38, 0.4);

    // Light Mode
    --CS_GC_L_bold: #b36b29;
    --CS_GC_L_italic: #d88405;
    --CS_GC_L_highlight: rgba(160, 99, 38, 0.4);
  }
}

.theme-dark {
  &:not(
      .FCS_D_default,
      .FCS_D_default_deep_dive,
      .FCS_D_ALCH,
      .FCS_D_RS,
      .FCS_L_default
    ).CS_GC,
  &:not(
      .FCS_D_default,
      .FCS_D_default_deep_dive,
      .FCS_D_ALCH,
      .FCS_D_RS,
      .FCS_L_default
    ).FCS_D_GC {
    &.CS_GC_D_F_Asap_Default {
      --font-default: "Asap-Regular";
    }

    &.CS_GC_D_F_Kalam_Coffee {
      --font-default: "Kalam";
    }

    &.CS_GC_D_F_Amiri_Fancy {
      --font-default: "Amiri";
    }

    --bold-color: var(--CS_GC_D_bold);
    --italic-color: var(--CS_GC_D_italic);
    --text-highlight-bg: var(--CS_GC_D_highlight);
  }
}

.theme-light {
  &:not(.FCS_L_default).CS_GC,
  &:not(.FCS_L_default).FCS_L_GC {
    &.CS_GC_L_F_Asap_Default {
      --font-default: "Asap-Regular";
    }

    &.CS_GC_L_F_Kalam_Coffee {
      --font-default: "Kalam";
    }

    &.CS_GC_L_F_Amiri_Fancy {
      --font-default: "Amiri";
    }

    --bold-color: var(--CS_GC_L_bold);
    --italic-color: var(--CS_GC_L_italic);
    --text-highlight-bg: var(--CS_GC_L_highlight);
  }
}
