@mixin workspace-container-padding {
  padding-left: 5px;
  padding-right: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.smooth-mode {
  --divider-color: var(--in-between-background);
  --main-controls-width: 8em;

  // MAIN CONTROLS
  .titlebar-button-container.mod-right {
    width: var(--main-controls-width);
    border-bottom-left-radius: var(--default-border-radius);
  }

  .workspace-tabs.mod-top.mod-top-right-space {
    background-color: var(--in-between-background);
  }

  // ROOT
  &.theme-dark {
    .workspace-split.mod-vertical.mod-root {
      .workspace-tabs {
        .workspace-tab-header-container {
          &-inner {
            .workspace-tab-header {
              background-color: var(--background-primary);

              &:hover {
                background-color: var(--background-secondary);

                * {
                  transition: background-color var(--hover-animation-duration)
                    ease-in-out;
                  background-color: var(--background-secondary);
                }
              }
            }
          }
        }
      }
    }
  }

  &.theme-light {
    .workspace-split.mod-vertical.mod-root {
      .workspace-tabs {
        .workspace-tab-header-container {
          &-inner {
            .workspace-tab-header {
              background-color: var(--background-secondary);

              &:hover {
                background-color: var(--background-primary);

                * {
                  transition: background-color var(--hover-animation-duration)
                    ease-in-out;
                  background-color: var(--background-primary);
                }
              }
            }
          }
        }
      }
    }
  }

  .workspace-split.mod-vertical.mod-root {
    .workspace-tabs {
      background-color: var(--in-between-background);

      .workspace-tab-header-container {
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 3px;

        margin-right: 5px;
        background-color: var(--in-between-background);

        &-inner {
          gap: 5px;
          --tab-divider-color: transparent;

          .workspace-tab-header {
            border-radius: var(--default-border-radius);
            border: 1px solid var(--background-secondary);

            &.is-active {
              border: 1px solid var(--color-accent);
            }
          }
        }

        .workspace-tab-header-new-tab,
        .workspace-tab-header-tab-list {
          .clickable-icon {
            border-radius: var(--default-border-radius);
          }
        }

        .sidebar-toggle-button.mod-right {
          padding-bottom: 8px;

          .clickable-icon {
            padding-bottom: 5px;
            border-radius: var(--default-border-radius);
          }
        }
      }

      .workspace-tab-container {
        @include workspace-container-padding;
        background-color: var(--in-between-background);

        .workspace-leaf {
          border-radius: var(--default-border-radius);
        }
      }
    }
  }

  // SIDES
  .workspace-split.mod-horizontal.mod-left-split,
  .workspace-split.mod-horizontal.mod-right-split {
    :not(.is-sidedock-collpased) {
      --frame-right-space: 0px;
    }

    .workspace-tabs {
      .workspace-tab-header-container {
        padding-top: 5px;
        padding-bottom: 2px;

        padding-left: 5px;
        padding-right: 5px;

        background-color: var(--in-between-background);

        &-inner {
          background-color: var(--tab-container-background);
          border-radius: var(--default-border-radius);
        }
      }

      .workspace-tab-container {
        @include workspace-container-padding;
        background-color: var(--in-between-background);

        .workspace-leaf {
          border-radius: var(--default-border-radius);
        }
      }
    }
  }

  .workspace-split.mod-horizontal.mod-right-split {
    .workspace-tabs.mod-top.mod-top-right-space {
      .workspace-tab-header-container {
        margin-right: var(--main-controls-width);
      }
    }
  }

  // SIDEBAR
  .workspace-ribbon.side-dock-ribbon.mod-left {
    @include workspace-container-padding;
    background-color: var(--in-between-background);

    .side-dock-settings,
    .side-dock-actions {
      border-radius: var(--default-border-radius);
      background-color: var(--background-secondary);
    }

    .sidebar-toggle-button.mod-left {
      .clickable-icon {
        border-radius: var(--default-border-radius);
        background-color: var(--in-between-background);
      }
    }
  }

  // STATUSBAR
  .status-bar {
    margin-bottom: 10px;
    margin-right: 4px;
    border-radius: var(--default-border-radius);
    border: none;
  }
}
