/* NAV Container */

.theme-dark,
.theme-light {
  .nav-header {
    padding: 0px;
  }

  .nav-buttons-container {
    margin-bottom: 7px;
  }

  .nav-action-button {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 0px;

    transition: 0.125s ease-in-out;

    svg {
      width: 17px;
      height: 17px;
    }
  }

  .workspace-split.mod-left-split {
    .workspace-tab-header-container {
      margin-left: -15px;
      justify-content: flex-start;
    }

    .nav-buttons-container {
      justify-content: flex-start;
    }
  }

  .workspace-split.mod-right-split {
    .workspace-tab-header-container {
      margin-right: -15px;
      justify-content: flex-end;
    }

    .nav-buttons-container {
      justify-content: flex-end;
    }
  }

  .workspace-tab-header-inner {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;

    transition: 0.125s ease-in-out;

    &:hover {
      color: var(--text-accent);
    }
  }

  /* folders and files */
  .nav-folder.mod-root {
    & > .nav-file-title,
    & > .nav-folder-title {
      display: none;
    }
  }

  .nav-folder-collapse-indicator {
    margin-top: -4px;
  }

  .nav-folder-title {
    white-space: normal;
    width: auto;
    transition: 0.125s ease-in-out;
    font-weight: bold;
  }

  .workspace-leaf.mod-active .nav-folder.has-focus > .nav-folder-title,
  .workspace-leaf.mod-active .nav-file.has-focus {
    transition: all 0.2s ease-in-out;
    border-color: transparent;
    min-width: 98%;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .workspace-leaf.mod-active
    .nav-folder.has-focus
    > .nav-folder-title:focus-within,
  .workspace-leaf.mod-active .nav-file.has-focus:focus-within {
    border-color: transparent;
  }

  .nav-file-tag {
    background-color: var(--nav-tag-background);
  }

  .nav-file-title.has-active-menu,
  .nav-folder-title.is-being-dragged-over {
    background-color: var(--interactive-accent) !important;
  }

  /* NAV Vertical Lines */
  .nav-folder-children:not(.nav-folder.mod-root > .nav-folder-children) {
    border-left: 1px solid var(--nav-indent);
    padding: 0px;
    margin-left: 16.5px;
  }

  .nav-file-title {
    white-space: normal;
    width: auto;
    transition: 0.125s ease-in-out;
    color: var(--nav-file);

    &.is-active {
      background-color: var(--nav-file-a);

      margin-left: -1px;
      margin-right: 2px;
      min-width: 98%;

      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;

      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.theme-dark {
  .nav-file-title,
  .nav-folder-title {
    &:hover {
      filter: contrast(110%);
    }
  }
}

.theme-light {
  .nav-file-title,
  .nav-folder-title {
    &:hover {
      background-color: var(--light-nav-ff-hover) !important;
    }
  }
}
