// Codeblock

.markdown-rendered {
  pre[class^="language-"] {
    button {
      transition: background-color 0.1s ease-in-out;
      background-color: var(--codeblocks-button-bg-c);

      &:hover {
        background-color: var(--codeblocks-button-bg-c-h);
      }
    }
  }
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-line {
  max-width: 100%;
}
