// Embed

.markdown-embed {
  border: none;
  padding: 0px;

  .markdown-embed-title {
    display: none;
  }

  .markdown-embed-link:not(.callout-content .markdown-embed *) {
    margin-right: -35px;

    transition: opacity 0.15s ease-in-out;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
