/* Images */

@keyframes zoom_in_img {
  0% {
    transform: translateY(-50%) scale(0.3, 0.3);
  }

  100% {
    transform: translateY(-50%) scale(1, 1);
  }
}

img:not(.banner-image, .external-link > img) {
  display: block;

  margin-left: auto;
  margin-right: auto;

  border: 4px outset var(--color-base-30);

  &[alt*="left"] {
    float: left;
    margin-right: 15px;
    margin-bottom: 1px;
  }

  &[alt*="right"] {
    float: right;
    margin-left: 15px;
    margin-bottom: 1px;
  }
}

.markdown-preview-view {
  img:not(.banner-image, .external-link > img) {
    transition: transform 0.15s ease-in-out;
  }

  img:not(.banner-image, .external-link > img):active {
    cursor: none;
    display: block;

    position: fixed;
    object-fit: contain;
    text-align: center;

    top: 50%;
    left: 50%;

    transform: translateY(-50%) scale(1, 1);
    animation: zoom_in_img 0.15s;

    height: 70%;
    width: 80%;

    padding: 0;

    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;

    background-color: var(--color-base-20);
    background-position: 0 0;
    background-size: 10px 10px;
  }
}
