/* PDF Export */
@use "../fonts/F-print-regular";
@use "../fonts/F-print-bold";
@use "../fonts/F-print-italic";

.theme-dark,
.theme-light {
  @media print {
    strong {
      font-family: "Amiri Bold" !important;
      color: black !important;
    }

    p,
    ol,
    ul {
      font-family: "Amiri Regular" !important;
    }

    li {
      &::marker,
      &::before {
        color: black !important;
        font-weight: bold !important;
      }
    }

    i,
    em {
      font-family: "Amiri Italic" !important;
      color: black !important;
    }

    a {
      font-family: "Amiri Italic" !important;
      color: black !important;
    }

    .markdown-preview-view blockquote {
      background-color: white !important;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
      border-left: 2px solid black !important;
    }

    .callout {
      background-color: white !important;
      color: black !important;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .markdonw-rendered h1,
    .markdonw-rendered h2,
    .markdonw-rendered h3,
    .markdonw-rendered h4,
    .markdonw-rendered h5,
    .markdonw-rendered h6 {
      color: black !important;
      font-family: "Amiri Regular" !important;
      font-weight: normal !important;
    }

    img {
      border: none !important;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
    }

    pre[class*="language-"] {
      font-size: 12px !important;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
      border-radius: 3px !important;

      background-color: #292929 !important;

      & > * {
        background-color: #292929 !important;
      }
    }

    code {
      font-size: 12px !important;
      border-radius: 2px !important;
      background-color: #292929 !important;
      color: white !important;
    }

    th,
    thead,
    .dataview th {
      background-color: #292929 !important;
      color: white !important;
      border-left-color: white !important;
      border-right-color: white !important;
      border-bottom-color: white !important;
      font-family: "Amiri Regular" !important;
    }

    tr,
    td {
      border-color: black !important;
      font-family: "Amiri Regular" !important;
    }

    .dataview {
      th {
        span {
          color: white !important;
        }
      }
    }
  }
}
