.task-list-item {
  transition: 0.2s ease-in-out;
  border: 1px solid var(--background-modifier-border);
  border-radius: 2px;
}

.task-list-item:hover {
  transform: translate(5px, -5px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  filter: brightness(130%);
}

.task-list-item strong,
.task-list-item em,
.task-list-item i,
.task-list-item a,
.task-list-item mark {
  padding-left: 5px;
  padding-right: 5px;
}

div.callout[data-callout*="self-panel"] {
  border-left: 0;
  background-color: initial;
}

div.callout[data-callout*="self-panel"] .callout-title {
  display: none;
}

div.callout[data-callout*="self-panel"] .callout-content {
  padding: 0;
  overflow-x: initial;
}

div.callout[data-callout*="self-panel"] > .callout-content > ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 13px;
}

div.callout[data-callout*="self-panel"] > .callout-content > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3 - 9px);
  height: 130px;
  text-align: center;
}

div.callout[data-callout*="self-panel"] > .callout-content > ul > li > a {
  text-decoration: none !important;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.callout[data-callout*="self-panel"]
  > .callout-content
  > ul.contains-task-list
  > li.task-list-item {
  position: relative;
}

div.callout[data-callout*="self-panel"]
  > .callout-content
  > ul.contains-task-list
  > li.task-list-item
  > input {
  padding: 11px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 7px;
}

div.callout[data-callout*="self-panel-task"] > .callout-content > ul > li {
  width: calc(100% / 2 - 7px);
  height: 130px;
  display: none;
}

div.callout[data-callout*="self-panel-task"]
  > .callout-content
  > ul
  > li:nth-child(1),
div.callout[data-callout*="self-panel-task"]
  > .callout-content
  > ul
  > li:nth-child(2) {
  display: flex;
}

div.callout[data-callout*="self-panel-task"]
  > .callout-content
  > ul
  > li.is-checked:nth-child(1)
  + li.is-checked:nth-child(2)
  + li,
div.callout[data-callout*="self-panel-task"]
  > .callout-content
  > ul
  > li.is-checked:nth-child(1)
  + li.is-checked:nth-child(2)
  + li
  + li {
  /* you can dupe the line above and add each "+li" afterwards if you need more than 2 small tasks*/
  width: calc(100% / 4 - 10px);
  height: 70px;
  display: flex;
}
