@mixin alchemy-dark-mode {
  --color-base-00: #171717;
  --color-base-05: var(--color-base-30);
  --color-base-10: #282523;
  --color-base-20: #1a1a1a;
  --color-base-25: #232323;
  --color-base-30: #292929;
  --color-base-35: var(--color-base-30);
  --color-base-40: #373738;
  --color-base-50: #8c7c6d;
  --color-base-70: #9e9184;
  --color-base-100: #c0bcb5;

  --background-modifier-message: #000000;

  --color-accent: #978159;
  --color-accent-1: #978159;
  --color-accent-2: #b1996c;

  --activeline: #242424bf;
  --text-selection: #474747a2;

  --color-bold: #7b9cac;
  --color-italic: #a07f6c;

  --text-highlight-bg: #a0632666;

  --heading-formatting-color: #8f2d2d;

  --in-between-background: #101010;

  // Theme Extras
  --background-modifier-form-field: var(--color-base-25);

  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);

  --text-highlight-bg-active: var(--text-highlight-bg);
}

@mixin alchemy-light-mode {
  --color-base-00: #0f1d1a;
  --color-base-05: var(--color-base-30);
  --code-background: #122a25;
  --color-base-10: #0b1614;
  --color-base-20: #10201d;
  --color-base-25: #1e332f;
  --color-base-30: #253a35;
  --color-base-35: var(--color-base-30);
  --color-base-40: #253a35;
  --color-base-50: #a08d57;
  --color-base-70: #ad9962;
  --color-base-100: #cabbab;

  --background-modifier-message: #12312b;

  --color-accent: #b49967;
  --color-accent-1: #b49967;
  --color-accent-2: #c9ab73;

  --activeline: #22373270;
  --text-selection: #334b45b5;

  --color-bold: #359e87;
  --color-italic: #1cacb4;

  --text-highlight-bg: #a0632666;

  --heading-formatting-color: #a83d3d;

  --in-between-background: #0c1815;

  // Theme Extras
  --background-modifier-form-field: var(--color-base-25);

  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);

  --text-highlight-bg-active: var(--text-highlight-bg);
}

.color-scheme-alchemy:not(.separate-color-scheme) {
  &.theme-dark {
    @include alchemy-dark-mode;
  }

  &.theme-light {
    @include alchemy-light-mode;
  }
}

.separate-color-scheme {
  &.dm-color-scheme-alchemy {
    &.theme-dark {
      @include alchemy-dark-mode;
    }
  }

  &.lm-color-scheme-alchemy {
    &.theme-light {
      @include alchemy-light-mode;
    }
  }
}
