.color-scheme-golden-coffee {
  &.theme-dark {
    --color-base-00: #402e22;
    --color-base-05: #413632;
    --color-base-10: #473224;
    --color-base-20: #473224;
    --color-base-25: #583f2e;
    --color-base-30: #5f4630;
    --color-base-35: var(--color-base-30);
    --color-base-40: #644a33;
    --color-base-50: #ac8b6e;
    --color-base-70: #b9987c;
    --color-base-100: #dfc2a0;

    --background-modifier-message: #2c1e14;

    --color-accent: #e6bb57;
    --color-accent-1: var(--color-accent);
    --color-accent-2: #f5ca6c;

    --activeline: #5b3d2895;
    --text-selection: #825f4795;

    --color-bold: #ce631c;
    --color-italic: #da9517;

    --text-highlight-bg: #a0632666;

    --heading-formatting-color: #e04242;

    --in-between-background: #36261b;

    // Theme Extras
    --background-modifier-form-field: var(--color-base-25);

    --interactive-normal: var(--color-base-30);
    --interactive-hover: var(--color-base-35);

    --text-highlight-bg-active: var(--text-highlight-bg);
  }

  &.theme-light {
    --color-base-00: #fff3e7;
    --color-base-05: var(--color-base-20);
    --color-base-10: #fcebd9;
    --color-base-20: #fae7d2;
    --color-base-25: #f3dbc1;
    --color-base-30: #e0c1a0;
    --color-base-35: var(--color-base-30);
    --color-base-40: #d6b086;
    --color-base-50: #c37e30;
    --color-base-70: #cf8a3a;
    --color-base-100: #97653c;

    --background-modifier-message: #2c1e14;

    --color-accent: #d83939;
    --color-accent-1: var(--color-accent);
    --color-accent-2: #ec5555;

    --activeline: #ffe2c4d1;
    --text-selection: #efddcacb;

    --color-bold: #b36b29;
    --color-italic: #d88405;

    --text-highlight-bg: #ffd3a4cb;

    --heading-formatting-color: #da7b64;

    --in-between-background: #efdac3;

    // Theme Extras
    --background-modifier-form-field: var(--color-base-25);

    --interactive-normal: var(--color-base-30);
    --interactive-hover: var(--color-base-35);

    --text-highlight-bg-active: var(--text-highlight-bg);
  }
}
