/* Titlebar */

.theme-dark,
.theme-light {
  .titlebar {
    background-color: var(--titlebar-background);
  }

  .titlebar-button-container {
    /* Hide forward and backwards arrows */
    &.mod-left {
      display: none;
    }

    /* Height alignment */
    &.mod-right {
      top: -3px;
    }
  }

  .titlebar-text {
    display: none;
  }

  .titlebar-button {
    svg,
    &.mod-maximize * {
      stroke: var(--titlebar-buttons);
    }

    &.mod-close {
      padding-bottom: 3px;
    }
  }
}
