.issues-appereance {
  .dataview.list-view-ul {
    li {
      display: inline-block;
      width: 100%;

      border: 2px solid var(--text-faint);
      border-radius: 4px;

      position: relative;

      transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

      span {
        display: block;
        width: 100%;
      }

      a.internal-link {
        display: block;
        width: 98%;
        margin: auto;

        overflow: hidden;
        overflow-wrap: anywhere;

        white-space: nowrap;
        text-overflow: ellipsis;

        text-decoration: none;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:hover {
        transform: translate(0%, -10%);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
}
