.CS_GB {
  --font-default: "Amiri";
}

.theme-dark {
  &.CS_GB {
    // Horizontal Line Icon
    .markdown-preview-view {
      hr {
        &:after {
          content: "\f02e";
        }
      }
    }

    /* DEFAULT VARIABLES */
    --color-red: #cf2035;
    --color-green: #049e42;
    --color-orange: #c76300;
    --color-yellow: #c49600;
    --color-cyan: #009b98;
    --color-blue: #004faa;
    --color-purple: #603ad3;
    --color-pink: #b6296d;

    --color-base-00: #f1ddcd; // bg-primary
    --color-base-10: #e4cdba; // bg-primary-alt
    --color-base-20: #64514d; // bg-secondary //title-bar //title-bar-focused
    --color-base-25: #7d645f; // bg-modifier-form-field
    --color-base-30: #554441; // bg-secondary-alt // LOW OPACITY - SS
    --color-base-35: var(--color-base-30); // borders (?)
    --color-base-40: #e4cdba;
    --color-base-50: #a72a2a; // txt-faint
    --color-base-60: #999;
    --color-base-70: var(--color-base-50); // txt-muted
    --color-base-100: #460c0c;

    --color-accent: #ce7726; // text-accent
    --color-accent-2: #db791e; //txt-accent-h

    --color-accent-1: var(--color-base-30);

    --background-modifier-form-field: var(--color-base-25);
    --background-secondary-alt: var(--color-base-30);
    --interactive-normal: var(--color-base-30);
    --interactive-hover: var(--color-base-35);

    --text-highlight-bg: rgba(160, 99, 38, 0.4);
    --text-highlight-bg-active: var(--text-highlight-bg);
    --text-selection: #e4c7b1;
    --text-selection-alt: #e4c7b1;

    /* CUSTOM VARIABLES */
    // Hover Elements
    --notice-background-color: #382c2a;
    --tooltip-background-color: #493c39;

    // Settings
    --settings-button-background-color-hover: #5a4b48;

    --modal-checkbox-disabled: #917d77;
    --modal-checkbox-enabled: #493935;

    // Note
    --activeline: #ebd1bd;

    // Blockquote
    --blockquote-border-color: #ce5151;
    --blockquote-background-color: #ebcdb6;
    --blockquote-mark-background-color: #a83d2a66;

    // Callouts
    --callout-content-background-color: var(--blockquote-background-color);

    // Bold
    --bold-color: #460c0c;

    // Italic
    --italic-color: #460c0c;

    // Headings
    --heading-counter: #962a2a;

    // Icons
    --tab-text-color-focused-active-current: var(--icon-color-focused);
    --icon-color-active: #460c0c;
    --icon-color-focused: #460c0c;

    // Indentation Guide
    --indentation-guide-color: var(--color-base-40);
    --indentation-guide-color-active: var(--color-base-50);

    // Scrollbars
    --scrollbar-thumb-bg: #e2c3aa;
    --scrollbar-active-thumb-bg: #d1aa8a;

    // Titlebar
    --titlebar-text-color-focused: #eddcc0;

    // Backgrounds
    --background-modifier-hover: var(--color-base-25);
    --background-modifier-border-focus: #694332;

    // Codeblock
    --code-background: #e4c3aa;
  }
}

// Show only the style setting to the corresponding color scheme
.CS_default,
.CS_GC,
.CS_RS,
.CS_ALCH {
  .setting-item[data-id^="CS_GB"] {
    display: none;
  }
}

.theme-dark {
  &.CS_GB {
    .setting-item[data-id="CS_GB_Light"] {
      display: none;
    }
  }
}

// !!! GOLDEN BOOK _MESS_ !!!
/*
  #ff6055 - red
  #ff6055 - blue
*/
.theme-dark {
  &.CS_GB {
    .workspace-split.mod-vertical.mod-root {
      .view-header {
        .clickable-icon:hover {
          background-color: #ddbda2;
        }
      }
    }

    .workspace-split.mod-horizontal.mod-left-split,
    .workspace-split.mod-horizontal.mod-right-split {
      --tab-text-color-focused-active-current: #eddcc0;

      --nav-collapse-icon-color: #eddcc0;

      --nav-item-color: #eddcc0;
      --nav-item-color-hover: #eddcc0;
      --nav-item-color-active: #f7e8cf;

      --icon-color: #eddcc0;
      --icon-color-focused: #eddcc0;
      --icon-color-active: #eddcc0;
      --icon-color-hover: #f7e8cf;

      --scrollbar-thumb-bg: #866e69;
      --scrollbar-active-thumb-bg: #9c7f79;

      --nav-collapse-icon-color-collapsed: #f7e8cf;
    }

    .workspace-ribbon.side-dock-ribbon.mod-left,
    .workspace-ribbon.side-dock-ribbon.mod-right {
      --tab-text-color-focused-active-current: #eddcc0;

      --icon-color: #eddcc0;
      --icon-color-focused: #eddcc0;
      --icon-color-active: #eddcc0;
      --icon-color-hover: #f7e8cf;
    }

    .workspace-ribbon.mod-left.is-collapsed {
      transition: background-color 0.2s ease-in-out !important;
      background-color: var(--color-base-20);
    }

    .workspace-tab-header {
      --icon-color: #eddcc0;
      --icon-color-focused: #eddcc0;
      --icon-color-active: #eddcc0;
      --icon-color-hover: #f7e8cf;

      --tab-text-color: #f7e8cf;
      --tab-text-color-focused: #f7e8cf;
    }

    .workspace-tab-header-tab-list,
    .workspace-tab-header-new-tab,
    .sidebar-toggle-button {
      --icon-color: #eddcc0;
      --icon-color-focused: #eddcc0;
      --icon-color-active: #eddcc0;
      --icon-color-hover: #f7e8cf;
    }

    .workspace-split.mod-vertical.mod-root
      .workspace-tab-header-container
      .workspace-tab-header-tab-list::after,
    .workspace-split.mod-vertical.mod-root
      .workspace-tab-header-container
      .sidebar-toggle-button.mod-right::after {
      color: #eddcc0;
    }

    .backlink-pane > .tree-item-self,
    .outgoing-link-pane > .tree-item-self {
      --text-normal: #eecea9;
    }

    .search-empty-state,
    .pane-empty,
    .backlink-pane > .tree-item-self.is-collapsed,
    .outgoing-link-pane > .tree-item-self.is-collapsed {
      color: #ff6055;
    }

    .menu {
      color: #eddcc0;

      .menu-item-icon,
      .menu-item.is-disabled {
        color: #ff6055;
      }
    }

    textarea::placeholder,
    input[type="text"]::placeholder,
    input[type="search"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder,
    input[type="number"]::placeholder,
    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
      color: #d8c098;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="search"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="number"]:focus {
      color: #eddcc0;
    }

    .search-input-container:before {
      background-color: #d8c098;
    }

    .search-suggest-item.mod-group,
    .search-suggest-info-text {
      color: #eddcc0;
    }

    .suggestion-item.mod-complex.search-suggest-item {
      .suggestion-title {
        span:first-of-type {
          color: #ff6055;
        }
      }
    }

    .list-item-part.clickable-icon,
    .search-input-clear-button,
    .tree-item-flair {
      color: #ff6055;
    }

    .status-bar {
      --status-bar-background: #ebcdb6;
      --status-bar-text-color: #64514d;

      .status-bar-item {
        &:hover {
          background-color: #dab69b;
        }
      }
    }

    .mermaid {
      .node {
        .label {
          color: #eddcc0 !important;
        }
      }

      text.actor > tspan,
      .labelText {
        fill: #eddcc0 !important;
      }
    }

    .prompt,
    .suggestion {
      textarea::placeholder,
      input[type="text"]::placeholder,
      input[type="search"]::placeholder,
      input[type="email"]::placeholder,
      input[type="password"]::placeholder,
      input[type="number"]::placeholder,
      input[type="text"],
      input[type="search"],
      input[type="email"],
      input[type="password"],
      input[type="number"] {
        color: var(--text-muted);
      }

      textarea:focus,
      input[type="text"]:focus,
      input[type="search"]:focus,
      input[type="email"]:focus,
      input[type="password"]:focus,
      input[type="number"]:focus {
        color: var(--text-muted);
      }

      .suggestion-item.is-selected {
        background-color: #e2c2a8;
      }

      .suggestion-item.mod-complex .suggestion-hotkey {
        color: black;
        background-color: #d1a583;
      }
    }

    .kanban-plugin {
      .kanban-plugin__lane {
        background-color: #eed5c3;
      }

      .kanban-plugin__item-wrapper {
        background-color: #ebd0bd;
      }

      .kanban-plugin__new-item-button {
        background-color: #e6c5ad;

        &:hover {
          color: var(--text-normal);
          background-color: #dbb69b;
        }
      }
    }

    // Frontmatter
    .cm-hmd-frontmatter {
      color: var(--text-normal);
    }

    .cm-def.cm-hmd-frontmatter,
    .cm-hmd-frontmatter.cm-meta {
      color: var(--text-muted) !important;
    }

    .cm-atom.cm-hmd-frontmatter {
      color: #ce7d20 !important;
    }

    .cm-hmd-frontmatter.cm-string {
      color: #5e3e38 !important;
    }

    .cm-hmd-frontmatter.cm-number {
      color: #63328f !important;
    }

    .cm-hmd-frontmatter.cm-keyword {
      color: #068b8d !important;
    }

    // Modal General
    .modal {
      button:not(.mod-warning),
      select {
        background-color: #52413d;
        color: #ebd0bd;

        option {
          color: #52413d;
        }

        &:hover {
          background-color: #493935;
        }
      }
    }

    // Settings (General)
    .modal.mod-settings {
      --interactive-accent: #52413d;

      .vertical-tab-header-group-title {
        color: #ff4a3d;
      }

      .vertical-tab-nav-item {
        color: #ebd0bd;
      }

      .dropdown,
      .setting-hotkey,
      button {
        background-color: #52413d;
        color: #ebd0bd;

        &:hover {
          background-color: #493935;
        }
      }

      .dropdown {
        option {
          color: #52413d;
        }
      }
    }

    // Settings (Appereance)
    .modal.mod-community-theme,
    .modal.mod-community-plugin {
      .setting-item-name,
      .clickable-icon {
        color: #ebd0bd;
      }

      .clickable-icon {
        &:hover {
          background-color: #745f5b;
        }
      }

      .community-modal-search-summary.u-muted {
        color: #ff6055; // #ffab63
      }

      .community-modal-button-container {
        button {
          background-color: #52413d;
          color: #ebd0bd;

          &:hover {
            background-color: #493935;
          }
        }
      }
    }

    .workspace-split.mod-horizontal.mod-left-split {
      .nav-folder.mod-root > .nav-folder-title {
        color: #ebd0bd;
      }
    }

    .container.svelte-pcimu8 {
      --text-normal: #ebd0bd;
      --text-muted: #ff6055;
      --interactive-accent: #c99875;
    }

    .graph-view {
      --graph-node: #ff6055;
      --graph-line: #ddbea8;
    }

    .workspace-split.mod-horizontal.mod-right-split {
      .view-content {
        &:has(canvas) {
          background-color: var(--background-primary);
        }
      }
    }
  }
}
