.workspace-tabs.mod-top.mod-top-left-space,
.workspace-tabs.mod-top.mod-top-right-space,
.workspace-tabs {
  * {
    transition: background-color var(--hover-animation-duration) ease-in-out;
  }

  .workspace-tab-header-container {
    padding: 0px;

    &-inner {
      width: 100%;
      padding: 0px;
      margin: 0px;

      gap: 0px;

      .workspace-tab-header {
        width: 100%;
        padding: 0px;
        border-radius: 0px;

        &-inner {
          border-radius: 0px;
        }
      }
    }
  }

  .workspace-tab-container {
    .nav-buttons-container {
      --clickable-icon-radius: 4px;
    }

    .nav-files-container {
      padding: 0px;

      .nav-folder.mod-root > .nav-folder-title {
        display: block;
        margin: auto;
        text-align: center;
        padding: 0px;
        height: 20px;
      }

      .tree-item-self {
        margin-bottom: 0px;
        border-radius: 0px;
      }

      .tree-item-children {
        margin-bottom: 0px;
      }
    }
  }
}
