/* Number Gutter */

.theme-dark,
.theme-light {
  .cm-s-obsidian {
    .CodeMirror-linenumber {
      text-align: center;
    }
  }

  .CodeMirror-gutter {
    &.CodeMirror-linenumbers,
    &.CodeMirror-gutter.CodeMirror-foldgutter {
      background-color: transparent;
    }
  }

  .cm-gutter {
    width: 30px;
  }
}

.theme-dark {
  .cm-gutterElement {
    &.cm-active {
      filter: brightness(300%) !important;
    }
  }
}

.theme-light {
  .cm-gutterElement {
    &.cm-active {
      filter: brightness(-100%) !important;
    }
  }
}
