/* Workspace Size Handles */

.theme-dark,
.theme-light {
  .workspace-split.mod-left-split > .workspace-leaf-resize-handle,
  .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    background-color: var(--resize-handles-background);
    border-color: var(--resize-handles-background);
    width: 2px !important;

    &:hover {
      background-color: var(--resize-handles-background-hover);
      border-color: var(--resize-handles-background-hover);
    }
  }

  .workspace-tabs {
    padding-right: 0px;

    .workspace-leaf.mod-active {
      border-color: transparent;
    }
  }
}
