/* Blockquote */

.theme-dark,
.theme-light {
  .HyperMD-quote {
    background-color: var(--blockquote-background);
  }

  .markdown-preview-view {
    blockquote {
      margin-inline-start: 10px;
      margin-inline-end: 10px;

      border: none;
      border-left: 3px solid var(--background-modifier-border);
      background-color: var(--blockquote-background);
    }
  }
}
