/* Clean Note Embed - Work in progress */

.theme-dark,
.theme-light {
  .markdown-embed,
  .file-embed {
    margin-top: 14px;
    margin-bottom: 14px;
    border: none;
  }

  .markdown-embed-title,
  .file-embed-title {
    display: none;
    transition: 0.125s ease-in-out;
  }

  .markdown-embed-link,
  .file-embed-link {
    transition: 0.125s ease-in-out;
    visibility: hidden;
    margin-right: -3.5em;
  }

  .markdown-embed:hover .markdown-embed-link,
  .file-embed:hover .markdown-embed-link,
  .markdown-embed:hover .file-embed-link,
  .file-embed:hover .file-embed-link {
    visibility: visible;
  }

  .markdown-embed .markdown-preview-view {
    padding: 0px;
  }

  .markdown-embed-content {
    max-height: unset;
    overflow-x: visible !important;
    overflow-y: visible !important;
  }

  .markdown-preview-sizer .markdown-preview-section {
    max-width: unset !important;
  }
}
