/* Headings */

.theme-dark,
.theme-light {
  .markdown-source-view.mod-cm6 {
    // Heading 1
    .cm-line .cm-formatting-header-1 {
      margin-right: 10px;
      visibility: hidden;

      &:before {
        content: "H1 ";
        color: var(--heading-counter);
        display: inline;
        position: absolute;
        visibility: visible;
      }
    }

    // Heading 2
    .cm-line .cm-formatting-header-2 {
      visibility: hidden;

      &:before {
        content: "H2 ";
        color: var(--heading-counter);
        display: inline;
        position: absolute;
        visibility: visible;
      }
    }

    // Heading 3
    .cm-line .cm-formatting-header-3 {
      visibility: hidden;
      margin-right: -6px;

      &:before {
        content: "H3 ";
        color: var(--heading-counter);
        display: inline;
        position: absolute;
        font-size: 27px;
        visibility: visible;
      }
    }

    // Heading 4
    .cm-line .cm-formatting-header-4 {
      visibility: hidden;
      margin-right: -16px;

      &:before {
        content: "H4 ";
        color: var(--heading-counter);
        display: inline;
        position: absolute;
        font-size: 27px;
        visibility: visible;
      }
    }

    // Heading 5
    .cm-line .cm-formatting-header-5 {
      visibility: hidden;
      margin-right: -20px;

      &:before {
        content: "H5 ";
        color: var(--heading-counter);
        display: inline;
        position: absolute;
        font-size: 27px;
        visibility: visible;
      }
    }

    // Heading 6
    .cm-line .cm-formatting-header-6 {
      visibility: hidden;
      margin-right: -31px;

      &:before {
        content: "H6 ";
        color: var(--heading-counter);
        display: inline;
        position: absolute;
        font-size: 27px;
        visibility: visible;
      }
    }

    // Headings Active Line
    .cm-active.cm-line .cm-formatting-header-1,
    .cm-active.cm-line .cm-formatting-header-2,
    .cm-active.cm-line .cm-formatting-header-3,
    .cm-active.cm-line .cm-formatting-header-4,
    .cm-active.cm-line .cm-formatting-header-5,
    .cm-active.cm-line .cm-formatting-header-6 {
      margin-right: 0px !important;
      visibility: visible;

      &:before {
        margin-right: 0px !important;
        visibility: hidden;
      }
    }
  }

  /*< Preview view >*/
  .markdown-preview-view {
    h1 .heading-collapse-indicator {
      margin-top: -8px;
    }

    h2 .heading-collapse-indicator {
      margin-top: -7px;
    }

    h3 .heading-collapse-indicator {
      margin-top: -7px;
    }

    h4 .heading-collapse-indicator {
      margin-top: -5px;
    }

    h5 .heading-collapse-indicator {
      margin-top: -5px;
    }

    h6 .heading-collapse-indicator {
      margin-top: -5px;
    }
  }
}
