/* Images */

.theme-dark,
.theme-light {
  img:not(.banner-image, .external-link > img) {
    display: block;

    margin-left: auto;
    margin-right: auto;

    border: 4px outset var(--img-border);

    &[alt*="left"] {
      float: left;
      margin-right: 15px;
      margin-bottom: 1px;
    }

    &[alt*="right"] {
      float: right;
      margin-left: 15px;
      margin-bottom: 1px;
    }
  }

  .markdown-preview-view {
    img:not(.banner-image, .external-link > img) {
      transition: all 0.15s ease-in-out;
    }

    img:not(.banner-image, .external-link > img):active {
      cursor: none;
      display: block;

      position: fixed;
      object-fit: contain;
      text-align: center;

      top: 50%;
      //transform: translateY(-50%);
      transform: translateY(-50%) scale(1, 1);
      animation: scaling_img 0.15s;

      height: 70%;
      width: 80%;

      padding: 0;

      left: 0;
      right: 0;
      bottom: 0;

      z-index: 100;

      background-color: var(--img-active-background);
      background-position: 0 0;
      background-size: 10px 10px;
    }
  }
}

@keyframes scaling_img {
  0% {
    transform: translateY(-50%) scale(0.3, 0.3);
  }

  100% {
    transform: translateY(-50%) scale(1, 1);
  }
}
