/* Links */

.theme-dark,
.theme-light {
  .cm-s-obsidian {
    &.cm-link,
    &.cm-hmd-internal-link {
      color: var(--link);
    }
  }

  cite {
    display: block;
    text-align: right;
    font-weight: bolder;
    color: var(--cite);
  }

  .tree-item-self.is-clickable {
    transition: 0.125s ease-in-out;
  }

  a {
    transition: all 0.2s ease-in-out;
    color: var(--a);

    &.footnote-link {
      transition: 0.125s ease-in-out;
      text-decoration: none;
    }

    &.internal-link.is-unresolved {
      filter: brightness(115%);
    }

    &:hover {
      filter: brightness(150%);
    }
  }

  sup {
    &.footnote-ref {
      vertical-align: baseline;
      font-size: medium;
      padding-left: 2px;
      line-height: 0px;
    }
  }
}
