/*
    Scrollbars - Re-size
*/

body:not(.native-scrollbars) {
  & ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  & ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
}
