/* Even more general Stuff - Bold, italics, highlight... ALSO Text Selection Arrows*/

.theme-dark,
.theme-light {
  .cm-s-obsidian {
    .cm-strong {
      color: var(--bold);
    }
  }

  b,
  strong {
    color: var(--bold);
  }

  .cm-em,
  i,
  em {
    color: var(--italic);
  }

  .CodeMirror-selected:nth-child(1) {
    &::before {
      content: "▼";
      display: block;

      position: absolute;
      left: 0;

      font-size: 10px;
      margin-top: -12px;
      margin-left: -5px;

      color: var(--txt-selected-arrow);
    }
  }

  .CodeMirror-selected:not(:only-child):first-child:nth-last-child(7)
    ~ .CodeMirror-selected:nth-of-type(6),
  .CodeMirror-selected:not(:only-child):first-child:nth-last-child(6)
    ~ .CodeMirror-selected:nth-of-type(5),
  .CodeMirror-selected:not(:only-child):first-child:nth-last-child(5)
    ~ .CodeMirror-selected:nth-of-type(4),
  .CodeMirror-selected:not(:only-child):first-child:nth-last-child(4)
    ~ .CodeMirror-selected:nth-of-type(3),
  .CodeMirror-selected:not(:only-child):first-child:nth-last-child(3)
    ~ .CodeMirror-selected:nth-of-type(2),
  .CodeMirror-selected:not(:only-child):first-child:nth-last-child(2)
    ~ .CodeMirror-selected:nth-of-type(2) {
    &::after {
      content: "▲";
      display: block;

      position: absolute;
      right: 0;
      bottom: 0;

      font-size: 12px;
      margin-bottom: -17px;
      margin-right: -6px;

      color: var(--txt-selected-arrow);
    }
  }

  .CodeMirror-selected:only-child {
    &::before {
      content: "▲";
      display: block;

      position: absolute;
      left: 0;

      margin-top: 20px;
      margin-left: -6px;
      font-size: 12px;
      font-weight: bold;

      color: var(--txt-selected-arrow);
    }

    &::after {
      content: "▲";
      display: block;
      position: absolute;
      right: 0;

      margin-top: 20px;
      font-size: 12px;
      margin-right: -6px;

      color: var(--txt-selected-arrow);
    }
  }
}
