// Nav Container

.nav-header {
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav-folder.mod-root {
  & > .nav-folder-title {
    display: block;
    transition: filter 0.15s ease-in-out;

    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;

    color: var(--nav-item-color);

    padding-bottom: 0px;
    margin-bottom: 0px;

    &:hover {
      color: var(--nav-item-color);
      font-weight: bolder;
      filter: brightness(120%);
    }
  }

  .nav-folder-title,
  .nav-file-title {
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  }
}
