.modal.mod-community-plugin {
  .community-modal-search-results {
    padding: 5px;
    gap: 5px;
  }

  .community-modal-details {
    .modal-setting-nav-bar {
      padding: 5px;
    }

    .community-modal-info {
      padding: 20px;
    }
  }
}
