/* Golden Coffee - Color Scheme */

.theme-dark,
.theme-light {
  &.AT_GC {
    /*----------
    DARK MODE
    ----------*/
    /*<Base Variables>*/
    --DM-base-bg: #522d20; //502a18

    --DM-base-bg-prim: var(--DM-base-bg);
    --DM-base-bg-prim-alt: var(--DM-base-bg);
    --DM-base-bg-sec: var(--DM-base-bg);
    --DM-base-bg-sec-alt: var(--DM-base-bg);

    --DM-base-modifier-bg: #4b2619;
    --DM-base-modifier-bg-h: #683e2f; // (-h) == hover
    --DM-base-modifier-border: #b47b46;
    --DM-base-modifier-box-shadow: #20140d;
    --DM-base-modifier-cover: #ff00ff;

    --DM-base-modifier-success: #356b3e;
    --DM-base-modifier-error: #800000;
    --DM-base-modifier-error-h: #a10000;

    --DM-base-txt-accent: #ffdec6;
    --DM-base-txt-accent-h: #ffeadb;
    --DM-base-txt-normal: #f0c7aa;
    --DM-base-txt-muted: #d4996e;
    --DM-base-txt-faint: var(--DM-base-txt-muted);
    --DM-base-txt-error: #ff4242;
    --DM-base-txt-error-h: #ff5b5b;

    --DM-base-highlight-bg: rgba(167, 105, 43, 0.4);
    --DM-base-highlight-bg-a: rgba(170, 107, 45, 0.4); // (-a) == active

    --DM-base-txt-select: #613424;
    --DM-base-txt-on-accent: #f0c7aa;

    --DM-base-itrc-normal: #2a2a2a; // (itrc) == interactive
    --DM-base-itrc-h: #303030;
    --DM-base-itrc-accent: #a3704f;
    --DM-base-itrc-accent-h: #b87f59;
    --DM-base-itrc-success: var(--base-txt-muted);

    --DM-base-scrollbar-bg: #703c17;
    --DM-base-scrollbar-bg-a: #914815;

    /*<Theme Variables>*/
    --DM-graph-tag: #b4b23b;
    --DM-graph-attach: #6090bd;

    --DM-popover-border: #b87f59;
    --DM-popover-shadow: var(--DM-popover-border-color);
    --DM-popover-bg: var(--DM-base-bg);

    --DM-prompt-border: #b87f59;

    --DM-suggestion-container-bg: #4d2517;
    --DM-suggestion-item-sel-bg: #6b3623; // (sel) == selected
    --DM-suggestion-highlight: #f0c7aa;

    --DM-kbd-bg: #702e16;
    --DM-kbd-sel-bg: #943715;
    --DM-kbd-sel-border: #b87f59;

    --DM-tooltip-bg: #702e16;

    --DM-modal-bg: #270c029a;
    --DM-modal-settings-border: #943715;
    --DM-settings-button-bg: var(--interactive-accent);

    --DM-slide-dot: #ffcfa8;

    --DM-settings-checkbox-container-bg: #944021;
    --DM-settings-checkbox-container-enabled-bg: #ad5820;
    --DM-settings-checkbox-container-bg-h: #c55b35;

    --DM-L-T-default: #ffcfa8;
    --DM-L-T-formatting: #db68b5;
    --DM-L-T-tag: #ae81c4;
    --DM-L-T-bracket: #ffcfa8;
    --DM-L-T-number: #e2a97a;
    --DM-L-T-error: #df3636;
    --DM-L-T-variable: #a2a1ec;

    --DM-T-comment-meta: #93a9c2;
    --DM-T-constant-symbol: #68b8b4;
    --DM-T-punctuation-bracket: #dadada;
    --DM-T-number-boolean: #e2a97a;
    --DM-T-string-char: #c2b864;
    --DM-T-operator-variable: #91b8ec;
    --DM-T-function-type: #479fe7;
    --DM-T-keyword: #b26ee9;
    --DM-T-regex-imp: #fd971f;
    --DM-T-general: #5cb392;
    --DM-T-tag: #f92672;

    --DM-nav-file-a: #af55354f;
    --DM-nav-tag-bg: #944021;
    --DM-nav-indent: #b87e55;

    --DM-activeline-bg: #5a3020;
    --DM-cursor: #e09c35;

    --DM-resize-handles-bg: #613424;
    --DM-resize-handles-bg-h: #85583e;

    --DM-FM-limits: #ff802c; // (FM) = FrontMatter
    --DM-FM-tag: #ffc250;

    --DM-blockquote-bg: #472417;

    --DM-EV-CB-bg: #422010;
    --DM-EV-IC-bg: #422010;
    --DM-EV-IC: #fa4747;
    --DM-PV-CB-copy-button: #613424;

    --DM-borgonia: #f72e2e;

    --DM-tables-thead-bg: #6b3b1f;

    --DM-bold: #ff802c;
    --DM-italic: #ffc250;

    --DM-PU_pu-bf-bg: #32548f; // (PU) == PopUp / (pu) == Default / (bf) == before
    --DM-PU_pu-tl-bg: #3b4f6e; // (tl) == title
    --DM-PU_pu-ct-bg: #324058; // (ct) == content
    // --
    --DM-PU_pu-info-bf-bg: #068181;
    --DM-PU_pu-info-tl-bg: #215858;
    --DM-PU_pu-info-ct-bg: #204b4b;
    // --
    --DM-PU_pu-imp-bf-bg: #a36013;
    --DM-PU_pu-imp-tl-bg: #583d1e;
    --DM-PU_pu-imp-ct-bg: #4b341e;
    // --
    --DM-PU_pu-quest-bf-bg: #8b2b77;
    --DM-PU_pu-quest-tl-bg: #581c4c;
    --DM-PU_pu-quest-ct-bg: #501a44;
    // --
    --DM-PU_pu-check-bf-bg: #1b7736;
    --DM-PU_pu-check-tl-bg: #19522a;
    --DM-PU_pu-check-ct-bg: #144421;
    // --
    --DM-PU_pu-fail-bf-bg: #9b0000;
    --DM-PU_pu-fail-tl-bg: #6b2424;
    --DM-PU_pu-fail-ct-bg: #572020;

    --DM-P-calendar-today: #ffe5d2; // (P) - Plugin
    --DM-P-calendar-today-bg: #7c6a6044;
    --DM-P-calendar-day-bg-h: #92765e9a;

    --DM-P-dataview-th-bg: #743f1a;
    --DM-P-dataview-th-border: #966f54;
    --DM-P-dataview-th-border-bottom: #966f54;
    --DM-P-dataview-td-border: #966f54;

    --DM-P-dialogue-bg: #743f1a;

    --DM-P-kanban-hr-wrapper: #966f54;
    --DM-P-kanban-item-border: #9c795f;

    --DM-P-langTool-button-bg: #743f1a;
    --DM-P-langTool-button-bg-h: #884e24;

    --DM-SS-hidden-hl: #ffcfad; // (hl) == Horizontal Line
    --DM-SS-hidden-hl-a: #fa8d3e;

    --DM-txt-selected-arrow: #ffecda;

    --DM-SS-hidden-hl-large: #6e493b;

    /*     
    /*-----------
          LIGHT MODE
         -----------*/
    /*<Base Variables>*/
    --LM-base-bg: #ffecda;

    --LM-base-bg-prim: var(--LM-base-bg);
    --LM-base-bg-prim-alt: var(--LM-base-bg);
    --LM-base-bg-sec: var(--LM-base-bg);
    --LM-base-bg-sec-alt: var(--LM-base-bg);

    --LM-base-modifier-bg: #ffe0c3;
    --LM-base-modifier-bg-h: #ffecda; // (-h) == hover
    --LM-base-modifier-border: #ffbc7d;
    --LM-base-modifier-box-shadow: #fffefd;
    --LM-base-modifier-cover: #bda793a8;

    --LM-base-modifier-success: #a4e7c3;
    --LM-base-modifier-error: #990000;
    --LM-base-modifier-error-h: #bb0000;

    --LM-base-txt-accent: #ff5b1b;
    --LM-base-txt-accent-h: #f06d39;
    --LM-base-txt-normal: #5c1e01;
    --LM-base-txt-muted: #8d411e;
    --LM-base-txt-faint: var(--LM-base-txt-muted);
    --LM-base-txt-error: #800000;
    --LM-base-txt-error-h: #990000;

    --LM-base-highlight-bg: rgba(255, 176, 97, 0.4);
    --LM-base-highlight-bg-a: rgba(255, 170, 85, 0.4); // (-a) == active

    --LM-base-txt-select: #f8e0c9;
    --LM-base-txt-on-accent: #f2f2f2;

    --LM-base-itrc-normal: #f2f3f5; // (itrc) == interactive
    --LM-base-itrc-h: #e9e9e9;
    --LM-base-itrc-accent: #e79950;
    --LM-base-itrc-accent-h: #eca15a;
    --LM-base-itrc-success: #69c9b1;

    --LM-base-scrollbar-bg: #fdd3a2;
    --LM-base-scrollbar-bg-a: #f3c38c;

    /*<Theme Variables>*/
    --LM-graph-tag: #ffc525;
    --LM-graph-attach: #598cbb;

    --LM-popover-border: #ffbc7d;
    --LM-popover-shadow: var(--LM-popover-border-color);
    --LM-popover-bg: var(--LM-base-bg);

    --LM-prompt-border: #ffbc7d;

    --LM-suggestion-container-bg: #fae4d0;
    --LM-suggestion-item-sel-bg: #fadec3;
    --LM-suggestion-highlight: #cf540d;

    --LM-kbd-bg: #fac798;
    --LM-kbd-sel-bg: #ffd3aa;
    --LM-kbd-sel-border: #f08e32;

    --LM-tooltip-bg: #ffddbe;

    --LM-modal-bg: #aa65254b;
    --LM-modal-settings-border: #df8f44;

    --LM-slide-dot: #ffcfa8;

    --LM-settings-checkbox-container-bg: #dd6b29;
    --LM-settings-checkbox-container-enabled-bg: #eea265;
    --LM-settings-checkbox-container-bg-h: #ecb587;

    --LM-L-T-default: #c99164;
    --LM-L-T-formatting: #d454aa;
    --LM-L-T-tag: #ae81c4;
    --LM-L-T-bracket: #c99164;
    --LM-L-T-number: #94592a;
    --LM-L-T-error: #df3636;
    --LM-L-T-variable: #7371ce;

    --LM-T-comment-meta: #68798d;
    --LM-T-constant-symbol: #0db9b1;
    --LM-T-punctuation-bracket: #404040;
    --LM-T-number-boolean: #d66000;
    --LM-T-string-char: #bb7409;
    --LM-T-operator-variable: #0182cc;
    --LM-T-function-type: #0182cc;
    --LM-T-keyword: #7429b3;
    --LM-T-regex-imp: #d4840b;
    --LM-T-general: #00945e;
    --LM-T-tag: #f92672;

    --LM-nav-file-a: #f8dcc2;
    --LM-nav-tag-bg: #f5cba4;
    --LM-nav-ff-h: #ffe3ca;
    --LM-nav-indent: #be6f4a;

    --LM-activeline-bg: #fce5d0;
    --LM-cursor: #f0936f;

    --LM-resize-handles-bg: #f8dcc2;
    --LM-resize-handles-bg-h: #f5ba83;

    --LM-FM-limits: #e44c11;
    --LM-FM-tag: #ca7a03;

    --LM-blockquote-bg: #ffdabc;

    --LM-EV-CB-bg: #ffd4b1;
    --LM-EV-IC-bg: #ffd4b1;
    --LM-EV-IC: #f74c8b;
    --LM-PV-CB-copy-button: #ffe4ce;

    --LM-borgonia: #f00000;

    --LM-tables-thead-bg: #ffcda4;

    --LM-bold: #f00000;
    --LM-italic: #3b2000;

    --LM-PU_pu-bf-bg: #a2c4ff; // (PU) == PopUp / (pu) == Default / (bf) == before
    --LM-PU_pu-tl-bg: #c9daf7; // (tl) == title
    --LM-PU_pu-ct-bg: #bdd3f5; // (ct) == content
    //---
    --LM-PU_pu-info-bf-bg: #5ae2e2;
    --LM-PU_pu-info-tl-bg: #a4f0f0;
    --LM-PU_pu-info-ct-bg: #94ebeb;
    //---
    --LM-PU_pu-imp-bf-bg: #f0b97b;
    --LM-PU_pu-imp-tl-bg: #f8d5ac;
    --LM-PU_pu-imp-ct-bg: #f5cb9c;
    //---
    --LM-PU_pu-quest-bf-bg: #eb93d8;
    --LM-PU_pu-quest-tl-bg: #f8aae7;
    --LM-PU_pu-quest-ct-bg: #f5a1e3;
    //---
    --LM-PU_pu-check-bf-bg: #72dd92;
    --LM-PU_pu-check-tl-bg: #8ff1ac;
    --LM-PU_pu-check-ct-bg: #83eca3;
    //---
    --LM-PU_pu-fail-bf-bg: #f17d7d;
    --LM-PU_pu-fail-tl-bg: #fdaeae;
    --LM-PU_pu-fail-ct-bg: #fca4a4;

    --LM-P-calendar-today: #000000; // (P) - Plugin
    --LM-P-calendar-today-bg: #d6c0aa44;
    --LM-P-calendar-day-bg-h: #d8b28144;

    --LM-P-dataview-th-bg: #fdd6b6;
    --LM-P-dataview-th-border: #ffbd88;
    --LM-P-dataview-th-border-bottom: #ffbd88;
    --LM-P-dataview-td-border: #ffbd88;

    --LM-P-dialogue-bg: #fdd6b6;

    --LM-P-kanban-hr-wrapper: #f0cea7;
    --LM-P-kanban-item-border: #d1b66d;

    --LM-P-langTool-button-bg: #c7ab90;
    --LM-P-langTool-button-bg-h: #d6b998;

    --LM-SS-hidden-hl: #804712; // (hl) == Horizontal Line
    --LM-SS-hidden-hl-a: #e2ac79;

    --LM-txt-selected-arrow: #522d20;

    --LM-SS-hidden-hl-large: #dabba1;

    // Mini-fixes
    .kanban-plugin__lane-action-cancel {
      color: white;
    }
  }
}

.theme-dark {
  &.AT_GC {
    #calendar-container {
      --color-background-weeknum: #3024193a;
      --color-background-weekend: #3024193a;
    }
  }
}

.theme-light {
  &.AT_GC {
    #calendar-container {
      --color-background-weeknum: #e0c49f33;
      --color-background-weekend: #e0c49f3a;
    }
  }
}
