/*| Color Scheme - Ukiyo |*/

:root {
  /*----------
    DARK MODE
   ----------*/
  /*<Base Variables>*/
  --DM-base-bg: #25333f;

  --DM-base-bg-prim: var(--DM-base-bg);
  --DM-base-bg-prim-alt: var(--DM-base-bg);
  --DM-base-bg-sec: var(--DM-base-bg);
  --DM-base-bg-sec-alt: var(--DM-base-bg);

  --DM-base-modifier-bg: #202e3a;
  --DM-base-modifier-bg-h: #22394e; // (-h) == hover
  --DM-base-modifier-border: #336d4d;
  --DM-base-modifier-box-shadow: #031e3f;
  --DM-base-modifier-cover: #000e1dd7;

  --DM-base-modifier-success: #31704d;
  --DM-base-modifier-error: #8a1d1d;
  --DM-base-modifier-error-h: #972727;

  --DM-base-txt-accent: #20c4cf;
  --DM-base-txt-accent-h: #0edeec;
  --DM-base-txt-normal: #dbdbdb;
  --DM-base-txt-muted: #5cb986;
  --DM-base-txt-faint: var(--DM-base-txt-muted);
  --DM-base-txt-error: #ff0000;
  --DM-base-txt-error-h: #ff0000;

  --DM-base-highlight-bg: rgba(160, 99, 38, 0.4);
  --DM-base-highlight-bg-a: var(--base-highlight-bg); // (-a) == active

  --DM-base-txt-select: #2c3d4d;
  --DM-base-txt-on-accent: #dcddde;

  --DM-base-itrc-normal: #2a2a2a; // (itrc) == interactive
  --DM-base-itrc-h: #303030;
  --DM-base-itrc-accent: #1a5f5c;
  --DM-base-itrc-accent-h: #1c6e6a;
  --DM-base-itrc-success: var(--base-txt-muted);

  --DM-base-scrollbar-bg: #2f5852;
  --DM-base-scrollbar-bg-a: #30685f;

  /*<Theme Variables>*/
  --DM-graph-tag: #c0804b;
  --DM-graph-attach: #55bace;

  --DM-popover-border: #2f5852;
  --DM-popover-shadow: var(--DM-popover-border-color);
  --DM-popover-bg: var(--DM-base-bg);

  --DM-prompt-border: #294636;

  --DM-suggestion-container-bg: #222e38;
  --DM-suggestion-item-sel-bg: #1b2833; // (sel) == selected
  --DM-suggestion-highlight: #1c9c81;

  --DM-kbd-bg: #192b38;
  --DM-kbd-sel-bg: #1f3546;
  --DM-kbd-sel-border: #1f3546;

  --DM-tooltip-bg: #1d2935;

  --DM-modal-bg: #101a2291;
  --DM-modal-settings-border: #294435;
  --DM-settings-button-bg: var(--interactive-accent);

  --DM-slide-dot: #2c9696;

  --DM-settings-checkbox-container-bg: #344f66;
  --DM-settings-checkbox-container-enabled-bg: #335a4b;
  --DM-settings-checkbox-container-bg-h: #376d6d;

  --DM-T-comment-meta: #a0afc0;
  --DM-T-constant-symbol: #6ed6d1;
  --DM-T-punctuation-bracket: #dadada;
  --DM-T-number-boolean: #e2a97a;
  --DM-T-string-char: #d6cc6e;
  --DM-T-operator-variable: #91ece8;
  --DM-T-function-type: #55bace;
  --DM-T-keyword: #bb8ae4;
  --DM-T-regex-imp: #fd971f;
  --DM-T-general: #7ab8a0;
  --DM-T-tag: #f92672;

  --DM-L-T-default: #c4c4c4;
  --DM-L-T-formatting: #21b2bd;
  --DM-L-T-tag: #43aec4;
  --DM-L-T-bracket: #c4c4c4;
  --DM-L-T-number: #e2a97a;
  --DM-L-T-error: #c94343;
  --DM-L-T-variable: #77d1cd;

  --DM-nav-file-a: #9df1ca2d;
  --DM-nav-tag-bg: #14553f;
  --DM-nav-indent: #2e8053;

  --DM-activeline-bg: #2c3d4d83;
  --DM-cursor: #b99052;

  --DM-resize-handles-bg: #293846; //#2a4357;
  --DM-resize-handles-bg-h: #2a4357; //#385d7c;;

  --DM-FM-limits: #2ebd7a; // (FM) = FrontMatter
  --DM-FM-tag: #c59555;

  --DM-blockquote-bg: #222e38;

  --DM-EV-CB-bg: #202b35;
  --DM-EV-IC-bg: #202b35;
  --DM-EV-IC: #f7367c;
  --DM-PV-CB-copy-button: #223b33;

  --DM-borgonia: #f72e2e;

  --DM-tables-thead-bg: #2d4d50;

  --DM-bold: #43b37b;
  --DM-italic: #74ccff;

  --DM-PU_pu-bf-bg: #334c77; // (PU) == PopUp / (pu) == Default / (bf) == before
  --DM-PU_pu-tl-bg: #344258; // (tl) == title
  --DM-PU_pu-ct-bg: #2e3a4e; // (ct) == content
  // --
  --DM-PU_pu-info-bf-bg: #177a7a;
  --DM-PU_pu-info-tl-bg: #204444;
  --DM-PU_pu-info-ct-bg: #1e3d3d;
  // --
  --DM-PU_pu-imp-bf-bg: #a36013;
  --DM-PU_pu-imp-tl-bg: #41301c;
  --DM-PU_pu-imp-ct-bg: #3a2b1c;
  // --
  --DM-PU_pu-quest-bf-bg: #6e1b5c;
  --DM-PU_pu-quest-tl-bg: #3f1837;
  --DM-PU_pu-quest-ct-bg: #33162d;
  // --
  --DM-PU_pu-check-bf-bg: #1b7736;
  --DM-PU_pu-check-tl-bg: #173b22;
  --DM-PU_pu-check-ct-bg: #16331e;
  // --
  --DM-PU_pu-fail-bf-bg: #800000;
  --DM-PU_pu-fail-tl-bg: #4e1e1e;
  --DM-PU_pu-fail-ct-bg: #441d1d;

  --DM-P-calendar-today: white; // (P) - Plugin
  --DM-P-calendar-today-bg: #60717c44;
  --DM-P-calendar-day-bg-h: #5e7d929a;

  --DM-P-dataview-th-bg: #33445e;
  --DM-P-dataview-th-border: #3a5377;
  --DM-P-dataview-th-border-bottom: #3a5377;
  --DM-P-dataview-td-border: #3a5377;

  --DM-P-dialogue-bg: #3d4b5e;

  --DM-P-kanban-hr-wrapper: #2b9765;
  --DM-P-kanban-item-border: #318f87;

  --DM-P-langTool-button-bg: #33445e;
  --DM-P-langTool-button-bg-h: #3a5377;

  --DM-SS-hidden-hl: white; // (hl) == Horizontal Line
  --DM-SS-hidden-hl-a: #318f87;

  --DM-backlash: #ff00ff;
  --DM-escaped-char: var(--interactive-accent);

  --DM-SS-hidden-hl-large: #39434e;

  --DM-txt-selected-arrow: white;

  /*-----------
    LIGHT MODE
   -----------*/

  --LM-base-bg: #cdf3e7;

  --LM-base-bg-prim: var(--LM-base-bg);
  --LM-base-bg-prim-alt: var(--LM-base-bg);
  --LM-base-bg-sec: var(--LM-base-bg);
  --LM-base-bg-sec-alt: var(--LM-base-bg);

  --LM-base-modifier-bg: #a6e4ce;
  --LM-base-modifier-bg-h: #adebd6; // (-h) == hover
  --LM-base-modifier-border: #86ccb6;
  --LM-base-modifier-box-shadow: #fdffff;

  --LM-base-modifier-cover: #93bdb9a8;

  --LM-base-modifier-success: #a4e7c3;
  --LM-base-modifier-error: #ff6060;
  --LM-base-modifier-error-h: #ff7d7d;

  --LM-base-txt-accent: #119e71;
  --LM-base-txt-accent-h: #0da776;
  --LM-base-txt-normal: #0c1d17;
  --LM-base-txt-muted: #468671;
  --LM-base-txt-faint: var(--LM-base-txt-muted);
  --LM-base-txt-error: #800000;
  --LM-base-txt-error-h: #990000;

  --LM-base-highlight-bg: rgba(231, 231, 40, 0.4);
  --LM-base-highlight-bg-a: rgba(255, 141, 27, 0.4); // (-a) == active

  --LM-base-txt-select: #b6e5d6;
  --LM-base-txt-on-accent: #f2f2f2;

  --LM-base-itrc-normal: #f2f3f5; // (itrc) == interactive
  --LM-base-itrc-h: #e9e9e9;
  --LM-base-itrc-accent: #7ec7b0;
  --LM-base-itrc-accent-h: #6ec0a6;
  --LM-base-itrc-success: #4abb9f;

  --LM-base-scrollbar-bg: #a0e2d2;
  --LM-base-scrollbar-bg-a: #94dac8;

  /*<Theme Variables>*/
  --LM-graph-tag: #e6b288;
  --LM-graph-attach: #75cfdb;

  --LM-popover-border: #6cc2b5;
  --LM-popover-shadow: var(--LM-popover-border-color);
  --LM-popover-bg: var(--LM-base-bg);

  --LM-prompt-border: #6cc2b5;

  --LM-suggestion-container-bg: #c3e9e1;
  --LM-suggestion-item-sel-bg: #a9e6d8;
  --LM-suggestion-highlight: #079c7c;

  --LM-kbd-bg: #abe7e2;
  --LM-kbd-sel-bg: #c9fdf9;
  --LM-kbd-sel-border: #1b8168;

  --LM-tooltip-bg: #baebdb;

  --LM-modal-bg: #d5f8ea93;
  --LM-modal-settings-border: #76c9a9;

  --LM-settings-checkbox-container-bg: #94d6c8b7;
  --LM-settings-checkbox-container-enabled-bg: #7fd8ae;
  --LM-settings-checkbox-container-bg-h: #91f1bc;

  --LM-slide-dot: #349e6d;

  --LM-T-comment-meta: #5e6772;
  --LM-T-constant-symbol: #00afa6;
  --LM-T-punctuation-bracket: #404040;
  --LM-T-number-boolean: #ff7300;
  --LM-T-string-char: #cf7c00;
  --LM-T-operator-variable: #00706b;
  --LM-T-function-type: #009ab9;
  --LM-T-keyword: #5f00ad;
  --LM-T-regex-imp: #ff8800;
  --LM-T-general: #00a86b;
  --LM-T-tag: #f92672;

  --LM-L-T-default: #777777;
  --LM-L-T-formatting: #557da1;
  --LM-L-T-tag: #569caa;
  --LM-L-T-bracket: #777777;
  --LM-L-T-number: #be9370;
  --LM-L-T-error: #9c4141;
  --LM-L-T-variable: #5f9c99;

  --LM-nav-file-a: #bdecde;
  --LM-nav-tag-bg: #96dac9;
  --LM-nav-ff-h: #aff0dc;
  --LM-nav-indent: #91c2b7;

  --LM-activeline-bg: #bee9db;
  --LM-cursor: #f0bc6f;

  --LM-resize-handles-bg: #96dac9;
  --LM-resize-handles-bg-h: #7dcac0;

  --LM-FM-limits: #22ad73;
  --LM-FM-tag: #ca8b2c;

  --LM-blockquote-bg: #bdecdc;

  --LM-EV-CB-bg: #b6ecd7;
  --LM-EV-IC-bg: #a8ebd5;
  --LM-EV-IC: #e43172;
  --LM-PV-CB-copy-button: #7aeed1;

  --LM-borgonia: #fc8585;

  --LM-tables-thead-bg: #91e7cd;

  --LM-bold: #07946a;
  --LM-italic: #50128a;
  --LM-a: red;

  --LM-PU_pu-bf-bg: #8bb0ee; // (PU) == PopUp / (pu) == Default / (bf) == before
  --LM-PU_pu-tl-bg: #abc5f1; // (tl) == title
  --LM-PU_pu-ct-bg: #b1ceff; // (ct) == content
  //---
  --LM-PU_pu-info-bf-bg: #5ae2e2;
  --LM-PU_pu-info-tl-bg: #4fd8d8;
  --LM-PU_pu-info-ct-bg: #63dfdf;
  //---
  --LM-PU_pu-imp-bf-bg: #f0b97b;
  --LM-PU_pu-imp-tl-bg: #e9b377;
  --LM-PU_pu-imp-ct-bg: #e6bc8d;
  //---
  --LM-PU_pu-quest-bf-bg: #eb93d8;
  --LM-PU_pu-quest-tl-bg: #eb81d4;
  --LM-PU_pu-quest-ct-bg: #ec96db;
  //---
  --LM-PU_pu-check-bf-bg: #72dd92;
  --LM-PU_pu-check-tl-bg: #67df8b;
  --LM-PU_pu-check-ct-bg: #7be99c;
  //---
  --LM-PU_pu-fail-bf-bg: #f17d7d;
  --LM-PU_pu-fail-tl-bg: #f07777;
  --LM-PU_pu-fail-ct-bg: #f08787;

  --LM-P-calendar-today: black; // (P) - Plugin
  --LM-P-calendar-today-bg: #90a3af44;
  --LM-P-calendar-day-bg-h: #7996a844;

  --LM-P-dataview-th-bg: #a7e7d2;
  --LM-P-dataview-th-border: #509975;
  --LM-P-dataview-th-border-bottom: #509975;
  --LM-P-dataview-td-border: #509975;

  --LM-P-dialogue-bg: #aeecc6;

  --LM-P-kanban-hr-wrapper: #4cad85;
  --LM-P-kanban-item-border: #56be93;

  --LM-P-langTool-button-bg: #90a7c7;
  --LM-P-langTool-button-bg-h: #98b2d6;

  --LM-SS-hidden-hl: #279667; // (hl) == Horizontal Line
  --LM-SS-hidden-hl-a: #80cead;

  /*
  --LM-SS-hidden-hl-large: #8caca9;*/

  /* ORIGINAL ORIGINAL ORIGINAL ORIGINAL ORIGINAL ORIGINAL*/
  /*<Base Variables>*/
  /*--LM-base-bg: #d4eeec;

  --LM-base-bg-prim: var(--LM-base-bg);
  --LM-base-bg-prim-alt: var(--LM-base-bg);
  --LM-base-bg-sec: var(--LM-base-bg);
  --LM-base-bg-sec-alt: var(--LM-base-bg);

  --LM-base-modifier-bg: #d4eeec;
  --LM-base-modifier-bg-h: #ccebf5; // (-h) == hover
  --LM-base-modifier-border: #9ccfe0;
  --LM-base-modifier-box-shadow: #fdffff;
  --LM-base-modifier-cover: #93bdb9a8;

  --LM-base-modifier-success: #a4e7c3;
  --LM-base-modifier-error: #ff6060;
  --LM-base-modifier-error-h: #ff7d7d;

  --LM-base-txt-accent: #3982f0;
  --LM-base-txt-accent-h: #004ab9;
  --LM-base-txt-normal: #0a1116;
  --LM-base-txt-muted: #68889c;
  --LM-base-txt-faint: var(--LM-base-txt-muted);
  --LM-base-txt-error: #800000;
  --LM-base-txt-error-h: #990000;

  --LM-base-highlight-bg: rgba(253, 253, 57, 0.4);
  --LM-base-highlight-bg-a: rgba(255, 141, 27, 0.4); // (-a) == active

  --LM-base-txt-select: #c5e5e7;
  --LM-base-txt-on-accent: #f2f2f2;

  --LM-base-itrc-normal: #f2f3f5; // (itrc) == interactive
  --LM-base-itrc-h: #e9e9e9;
  --LM-base-itrc-accent: #56acdd;
  --LM-base-itrc-accent-h: #67b9e9;
  --LM-base-itrc-success: #4abb9f;

  --LM-base-scrollbar-bg: #badddf;
  --LM-base-scrollbar-bg-a: #add2d4;

  /*<Theme Variables>*/
  /*--LM-graph-tag: #ff7300;
  --LM-graph-attach: #00d5ff;

  --LM-popover-border: #6cc2b5;
  --LM-popover-shadow: var(--LM-popover-border-color);
  --LM-popover-bg: var(--LM-base-bg);

  --LM-prompt-border: #6cc2b5;

  --LM-suggestion-container-bg: #c3e9e6;
  --LM-suggestion-item-sel-bg: #ade6e1;
  --LM-suggestion-highlight: #56acdd;

  --LM-kbd-bg: #bce0f5;
  --LM-kbd-sel-bg: #d1ecfc;
  --LM-kbd-sel-border: #5685dd;

  --LM-tooltip-bg: #ade6e1;

  --LM-modal-bg: #d5ebf893;
  --LM-modal-settings-border: #90b2f1;

  --LM-settings-checkbox-container-bg: #88a7e0;
  --LM-settings-checkbox-container-enabled-bg: #7fd8ae;
  --LM-settings-checkbox-container-bg-h: #91cef1;

  --LM-slide-dot: #759ce6;

  --LM-T-comment-meta: #5e6772;
  --LM-T-constant-symbol: #00afa6;
  --LM-T-punctuation-bracket: #404040;
  --LM-T-number-boolean: #ff7300;
  --LM-T-string-char: #cf7c00;
  --LM-T-operator-variable: #00706b;
  --LM-T-function-type: #009ab9;
  --LM-T-keyword: #5f00ad;
  --LM-T-regex-imp: #ff8800;
  --LM-T-general: #00a86b;
  --LM-T-tag: #f92672;

  --LM-L-T-default: #777777;
  --LM-L-T-formatting: #557da1;
  --LM-L-T-tag: #569caa;
  --LM-L-T-bracket: #777777;
  --LM-L-T-number: #be9370;
  --LM-L-T-error: #9c4141;
  --LM-L-T-variable: #5f9c99;

  --LM-nav-file-a: #bde7ec;
  --LM-nav-tag-bg: #96d3da;
  --LM-nav-ff-h: #bceff5;
  --LM-nav-indent: #91afc2;

  --LM-activeline-bg: #ceeaec;
  --LM-cursor: #f0bc6f;

  --LM-resize-handles-bg: #96d3da;
  --LM-resize-handles-bg-h: #7dc2ca;

  --LM-FM-limits: #3cb1c9;
  --LM-FM-tag: #df9d3b;

  --LM-blockquote-bg: #bde7ec;

  --LM-EV-CB-bg: #b6e7ec;
  --LM-EV-IC-bg: #a8e4eb;
  --LM-EV-IC: #e43172;
  --LM-PV-CB-copy-button: #7adbee;

  --LM-borgonia: #fc8585;

  --LM-tables-thead-bg: #9edeeb;

  --LM-bold: #0ea87a;
  --LM-italic: #8400ff;

  --LM-PU_pu-bf-bg: #a2c4ff; // (PU) == PopUp / (pu) == Default / (bf) == before
  --LM-PU_pu-tl-bg: #abc5f1; // (tl) == title
  --LM-PU_pu-ct-bg: #b1ceff; // (ct) == content
  //---
  --LM-PU_pu-info-bf-bg: #5ae2e2;
  --LM-PU_pu-info-tl-bg: #56dddd;
  --LM-PU_pu-info-ct-bg: #6de6e6;
  //---
  --LM-PU_pu-imp-bf-bg: #f0b97b;
  --LM-PU_pu-imp-tl-bg: #f0ba7d;
  --LM-PU_pu-imp-ct-bg: #ecc292;
  //---
  --LM-PU_pu-quest-bf-bg: #eb93d8;
  --LM-PU_pu-quest-tl-bg: #ee89d8;
  --LM-PU_pu-quest-ct-bg: #f19fe0;
  //---
  --LM-PU_pu-check-bf-bg: #72dd92;
  --LM-PU_pu-check-tl-bg: #73e997;
  --LM-PU_pu-check-ct-bg: #87f0a7;
  //---
  --LM-PU_pu-fail-bf-bg: #f17d7d;
  --LM-PU_pu-fail-tl-bg: #fc7575;
  --LM-PU_pu-fail-ct-bg: #fa9797;

  --LM-P-calendar-today: black; // (P) - Plugin
  --LM-P-calendar-today-bg: #90a3af44;
  --LM-P-calendar-day-bg-h: #7996a844;

  --LM-P-dataview-th-bg: #cadcf8;
  --LM-P-dataview-th-border: #98b2d6;
  --LM-P-dataview-th-border-bottom: #98b2d6;
  --LM-P-dataview-td-border: #98b2d6;

  --LM-P-dialogue-bg: #bcd3f3;

  --LM-P-kanban-hr-wrapper: #a7c5f0;
  --LM-P-kanban-item-border: #6dd1c9;

  --LM-P-langTool-button-bg: #90a7c7;
  --LM-P-langTool-button-bg-h: #98b2d6;

  --LM-SS-hidden-hl: black; // (hl) == Horizontal Line
  --LM-SS-hidden-hl-a: #98b2d6;

  --LM-SS-hidden-hl-large: #8caca9;*/
}

.theme-dark {
  #calendar-container {
    /*--color-background-weeknum: #1926303a;
    --color-background-weekend: #1926303a;*/
  }
}

.theme-light {
  #calendar-container {
    /*--color-background-weeknum: #9fc4e03a;
    --color-background-weekend: #9fc4e03a;*/
  }
}
