.callout[data-callout="figure"],
.callout[data-callout="fig"] {
  box-shadow: none;
  background-color: transparent;
  border: none;

  .callout-title {
    display: none;
  }

  .callout-content {
    background-color: transparent;
    text-align: center;

    img {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
  }
}
