.callout {
  &[data-callout="figure"],
  &[data-callout="fig"] {
    border: none;
    background-color: transparent;
    box-shadow: none;

    .callout-title {
      display: none;
    }

    .callout-content {
      text-align: center;
      background-color: transparent;

      img {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }
  }
}
