.callout {
  &[data-callout="clear-table"] {
    border: none;
    background-color: transparent;
    box-shadow: none;

    .callout-title {
      display: none;
    }

    .callout-content {
      padding: 0px;
      background-color: transparent;

      table {
        thead {
          border-bottom: none;
          background-color: transparent;

          th {
            color: var(--text-normal);
          }
        }
      }
    }
  }

  &[data-callout="index-table"] {
    border: none;
    background-color: transparent;
    box-shadow: none;

    .callout-title {
      display: none;
    }

    .callout-content {
      padding: 0px;
      background-color: transparent;

      table {
        thead {
          border-bottom: none;

          th {
            background-color: var(--tab-outline-color);
          }
        }

        tbody {
          tr {
            td:first-of-type {
              background-color: var(--tab-outline-color);
            }
          }
        }
      }
    }
  }
}
