/* Popover */

@keyframes fade_in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.theme-dark,
.theme-light {
  .popover {
    animation: 0.2s fade_in;

    &.hover-popover {
      min-height: 45%;
      height: 45%;
      width: 65%;

      border: 2px solid var(--popover-border);
      border-radius: 4px;

      background-color: var(--popover-bg);
      box-shadow: 1px 1px 4px var(--popover-shadow);

      &.is-loaded {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
        margin: auto;
      }

      & .markdown-embed {
        height: 100%;
        width: 98.9%;

        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 6px;

        & .markdown-embed {
          height: unset;
        }
      }

      & .markdown-embed-link {
        & svg {
          margin-top: 1px;
          margin-left: 3px;
        }

        height: 25px;
        width: 26px;

        margin-right: 0px;

        border: 2px solid var(--popover-border);
        border-radius: 20px;

        background-color: var(--popover-bg);
      }
    }
  }
}
