/* Prompt */

@keyframes fade_in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.theme-dark,
.theme-light {
  .prompt {
    animation: 0.25s fade_in;

    border: 2px solid var(--prompt-border);
    border-radius: 2px;

    box-shadow: var(--basic-BS);
  }

  .suggestion-container {
    animation: 0.25s fade_in;
    background-color: var(--suggestion-container-background);
  }

  kbd {
    background-color: var(--kbd-background);
  }

  .suggestion-item {
    padding-top: 5px;
    padding-bottom: 5px;

    & kbd {
      border: 1px solid transparent;
      margin-top: -1px;
    }

    &.is-selected {
      transition: 0.125s ease-in-out;
      background-color: var(--suggestion-item-selected-background);

      & kbd {
        background-color: var(--kbd-selected-background);
        border: 1px solid var(--kbd-selected-border);
      }
    }
  }

  .suggestion-highlight {
    color: var(--suggestion-highlight);
  }

  .prompt-input,
  input {
    border-radius: 2px;
  }

  .prompt-results {
    margin-top: 10px;
    padding-top: 0px;
  }

  .prompt-instructions {
    padding: 0px;
    margin-top: 5px;
  }

  .prompt-instruction {
    margin-right: 15px;
  }
}
