/* Tooltip */

.theme-dark,
.theme-light {
  .tooltip {
    color: var(--text-normal);
    background-color: var(--tooltip-background);

    border: 1px solid var(--background-modifier-border);
    border-radius: 3px;
    box-shadow: var(--basic-BS);

    font-style: italic;

    .tooltip-arrow {
      display: none;
    }
  }
}
