@use "./hidden/SS-H-sidedock";
@use "./hidden/SS-H-workspace-tabs";
@use "./hidden/SS-H-tabs";
@use "./hidden/SS-h-navbuttons";

/*!
/* @settings

name: Hidden Levels
id: HL
settings:
    - 
        id: HL-sidedock
        title: Side Dock Ribbon
        description: 
            "'Partially Hidden' only move aside the side dock until you hover over it. 'Fully Hidden' just makes it dissapear."
        description.es:
            "'Partially Hidden' esconde el side dock al lado, ocultandolo por completo hasta que pases el cursor cerca del lateral. 'Fully Hidden' lo esconde por completo para nunca más verlo."
        type: class-select
        allowEmpty: false
        default: disabled
        options:
            - 
                label: Disabled
                value: disabled
            - 
                label: Partially Hidden
                value: HL-sidedock-PH
            -   
                label: Fully Hidden
                value: HL-sidedock-FH
    -
        id: HL-WSTabHeaders
        title: Workspace Tab Headers
        description:
            "Replaces the icons with small horizontal lines. Whenever you hover over them, the icon will show up."
        description.es:
            "Se muestra una pequeña línea horizontal en lugar de los iconos, pero cuando pasas el cursor sobre las líneas, aparecerán sus respectivos iconos"
        type: class-select
        allowEmpty: false
        default: disabled
        options:
            -
                label: Disabled
                value: disabled
            -
                label: Partially Hidden
                value: HL-WSTabHeaders-PH
    -
        id: HL-rootTabs
        title: Note Tabs
        description:
            "Replaces the note tabs for small horizontal lines. Whenever you hover over them, the icon will show up"
        description.es:
            "Se muestra una pequeña línea horizontal en lugar de las pestañas de las notas. Cuando pasas el cursor sobre la línea, aparecerá el nombre de la nota"
        type: class-select
        allowEmpty: false
        default: disabled
        options:
            -
                label: Disabled
                value: disabled
            -
                label: Partially Hidden
                value: HL-rootTabs-PH
    -
        id: HL-navButtons
        title: Nav Buttons
        description:
            "'Partially Hidden' replace the nav buttons with a horizontal line. When hover over it, the nav buttons will appear. 'Fully Hidden' won't show the horizontal line, but the same functionallity persists"
        description.es:
            "'Partially Hidden' mostrará una línea horizontal en lugar de los botones que se encuentran encima del nombre del vault. En caso de posicionar el cursor sobre dicha barra, se mostrarán dichos botones de nuevo. 'Fully Hidden' tendrá el mismo comportamiento, pero sin la barra horizontal"
        type: class-select
        allowEmpty: false
        default: disabled
        options:
            -
                label: Disabled
                value: disabled
            -
                label: Partially Hidden
                value: HL-navButtons-PH
            -
                label: Fully Hidden
                value: HL-navButtons-FH
*/
