/*!
/* @settings

name: Modes
id: M
settings:
    - 
      id: mode-smooth
      title: Smooth UI
      description: 
          "Smoothes a little bit more the user interface"
      description.es:
          "Suaviza un poco más la interfaz de usuario"
      type: class-toggle
      default: false
    -
      id: mode-dark-coffee
      title: Dark Coffee
      description:
        "For those who like dark coffee ;)"
      description.es:
        "Para aquellos que les guste el café negro ;)"
      type: class-toggle
      defualt: false
    -
      id: mode-texture-on
      title: Enable texture
      description:
        "Adds the texture that the original Alchemy had"
      description.es:
        "Agrega las texturas que el Alchemy original tenía"
      type: class-toggle
      default: false
    - 
      id: mode-deep-dive
      title: Deep Dive
      description:
        "For those who want to dive deep into their work"
      description.es:
        "Para aquellos que quieren concentrarse todavía más en su tarea"
      type: class-toggle
      default: false
*/

.mode-smooth {
  --background-modifier-border: transparent;

  .modal-container,
  .menu,
  .frontmatter-container,
  .dataview {
    --background-modifier-border: var(--color-base-30);
    --tab-outline-color: var(--color-base-30);
  }

  .workspace-split.mod-vertical {
    gap: 3px;
    background-color: var(--background-secondary);
  }

  .workspace-split.mod-horizontal {
    gap: 3px;
    background-color: var(--background-secondary);
  }
}
