/*!
/* @settings

name: Theme Specifics
id: TS
settings:
    - 
        id: test
        title: Test
        description: 
            "test"
        description.es:
            "test"
        type: class-select
        allowEmpty: false
        default: ACS_default
        options:
            - 
                label: Ukiyo
                value: ACS_default
            - 
                label: Golden Coffee
                value: ACS_GC        
            -   
                label: Golden Book
                value: ACS_GB
            -
                label: Alchemy
                value: ACS_ALCH
            -
                label: Rose Shadow
                value: ACS_RS
    -
        id: test-2-asdfsadf
        title: Test 2
        desciption: "test 2"
        type: class-select
        allowEmpty: true
        default: asdf
        options:
            -
                label: One
                value: asdf            
*/

.ACS_default {
  .setting-item[data-id^="test-2"] {
    display: none;
  }
}
