// Header

.workspace-tabs.mod-active {
  .workspace-leaf.mod-active {
    .view-header-title {
      color: var(--icon-color-focused);
    }
  }
}

.view-header {
  margin: 0px;
  padding-right: var(--size-4-3);
  padding-left: var(--size-4-3);

  &:not(:hover) {
    .view-actions,
    .view-header-nav-buttons {
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
    }

    .view-header-title-container {
      transition: opacity 0.2s ease-in-out;
      opacity: 0.5;
    }
  }

  &:hover {
    .view-actions,
    .view-header-nav-buttons {
      transition: opacity 0.2s ease-in-out;
      opacity: 1;
    }

    .view-header-title-container {
      transition: opacity 0.2s ease-in-out;
      opacity: 1;
    }
  }

  .view-header-title-container:focus-within {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  }
}
