// Resize Handles

.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  //top: 40px;
  border-color: transparent;
}

.workspace-split.mod-horizontal.mod-right-split {
  .workspace-tab-container {
    border-left: 1px solid var(--divider-color);
  }
}

.workspace-split.mod-horizontal.mod-left-split {
  .workspace-tab-container {
    border-right: 1px solid var(--divider-color);
  }
}
