// Tabs

.workspace-split.mod-vertical.mod-root {
  .workspace-tab-header-container {
    .workspace-tab-header-container-inner {
      margin: auto;
      width: 100%;
      gap: 5px;

      &:first-of-type {
        padding-left: 6px;
      }

      .workspace-tab-header-inner {
        .workspace-tab-header-inner-close-button {
          transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out;
          opacity: 0;
          width: 0px;
        }

        &:hover {
          .workspace-tab-header-inner-close-button {
            opacity: 1;
            width: 20px;
          }
        }

        &::after {
          opacity: 0.5;
        }
      }

      .workspace-tab-header {
        transition: flex-grow 0.2s ease-in-out;
        flex-grow: 0.14;

        border-color: transparent;

        margin-top: auto;
        margin-bottom: auto;

        border-radius: 0px;
        padding-left: 2px;
        padding-right: 2px;

        &.is-active,
        &:hover {
          flex-grow: 2;
        }

        &.is-active {
          box-shadow: none;
          border: 1px solid var(--tab-outline-color);
          border-radius: 4px;
        }

        &::before,
        &::after {
          display: none;
        }
      }
    }

    .workspace-tab-header-tab-list {
      &:hover {
        width: 25px;
      }
    }

    .sidebar-toggle-button.mod-right {
      z-index: 30;

      &:hover {
        width: 30px;
      }
    }

    .workspace-tab-header-tab-list,
    .sidebar-toggle-button.mod-right {
      transition: width 0.2s ease-in-out;
      width: 10px;
      position: relative;
      margin-right: 2px;

      svg {
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
      }

      &::after {
        content: "·";
        font-family: "Asap";

        position: absolute;
        left: 0px;
        top: -8px;

        font-size: 40px;
        color: var(--text-muted);
      }

      &:hover {
        svg {
          opacity: 1;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}

.clickable-icon,
.workspace-tab-header-inner {
  transition: all 0.12s ease-in-out;
}

.sidebar-toggle-button.mod-left {
  .clickable-icon {
    width: 25px;

    svg {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;

      width: 20px;
      height: 20px;

      background-repeat: no-repeat;
    }
  }
}
