.canvas-card-menu {
  border-radius: 3px;
  gap: 2px;

  .canvas-card-menu-button.mod-draggable {
    height: 35px;
    padding: 0px;

    svg {
      height: 25px;
    }
  }
}

@media (hover: hover) {
  .canvas-card-menu .canvas-card-menu-button.mod-draggable:hover svg {
    transform: translateY(-2px);
  }
}

.canvas-control-group {
  border-radius: 3px;

  .canvas-control-item {
    padding: 5px;
  }
}

.canvas-node-container {
  border-radius: 5px;

  .markdown-embed-content {
    .markdown-preview-view.markdown-rendered.node-insert-event.show-indentation-guide {
      padding-left: 10px;
      padding-right: 10px;

      &::before,
      &::after {
        min-height: 0px;
        max-height: 0px;
      }
    }
  }
}

.canvas-group-label {
  left: 50%;
  transform: translate(calc(-50% * var(--zoom-multiplier)), -100%)
    scale(var(--zoom-multiplier));
}

.modal.mod-canvas-help {
  border-radius: 3px;
  padding: 10px;

  .canvas-help {
    gap: 7px;
  }
}

.canvas-menu {
  border-radius: 3px;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  button.clickable-icon {
    border-radius: 0px !important;
  }
}

.canvas-submenu {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  .canvas-color-picker-item {
    border-radius: 4px;
  }
}
