.frontmatter-container {
  padding: 0px;

  .frontmatter-container-header {
    padding-bottom: 4px;
    margin-bottom: 4px;
  }

  .frontmatter-section-data {
    font-style: italic;

    &:has(> .frontmatter-section-data-item:last-child:nth-child(2)) {
      width: 90%;
      flex-wrap: nowrap;

      .frontmatter-section-data-item {
        &:first-of-type {
          width: 35%;
        }

        &:last-of-type {
          width: 65%;
        }
      }
    }

    .frontmatter-section-data-item {
      &:nth-last-child(n + 3),
      &:nth-last-child(n + 3) ~ * {
        &:not(:last-of-type) {
          &::after {
            content: ",";
          }
        }
      }
    }
  }
}
