.floating-sides {
  --floating-sides-animation-duration: 0.5s;
  --margin-top: calc(var(--header-height));
  --margin-top-animation-delay: 0s;
  --workspace-split-left-offset: var(--ribbon-width);

  &.smooth-mode {
    --margin-top: calc(var(--header-height) + 5px);
  }

  &.minimal-mode {
    &.sidebar-hide {
      --workspace-split-left-offset: 0px;
    }

    &.root-tabs-hover {
      .workspace {
        &:has(
            .workspace-tabs.mod-active.mod-top
              .workspace-tab-header-container:not(:hover)
          ) {
          --margin-top: calc(var(--header-height) / 3);
          --margin-top-animation-delay: 1s;
        }

        --margin-top-animation-delay: 0s;
      }
    }

    &.sidebar-hover {
      .workspace {
        &.is-left-sidedock-open {
          &:has(.workspace-ribbon.side-dock-ribbon.mod-left:not(:hover)) {
            --workspace-split-left-offset: 10px;
          }
        }
      }
    }
  }

  .workspace-ribbon.side-dock-ribbon.mod-left {
    * {
      transition: opacity var(--floating-sides-animation-duration) ease-in-out;
    }
  }

  .workspace-split.mod-horizontal {
    position: absolute;

    height: calc(100% - var(--margin-top));
    margin-top: var(--margin-top);

    transition: margin-top var(--default-animation-duration) ease-in-out
      var(--margin-top-animation-delay);

    &.is-sidedock-collapsed {
      display: flex !important;
      visibility: visible;
      transition: all var(--floating-sides-animation-duration) !important;
    }

    z-index: 10;

    &.mod-left-split {
      transition: left var(--default-animation-duration) ease-in-out,
        margin-top var(--default-animation-duration) ease-in-out
          var(--margin-top-animation-delay);
      left: var(--workspace-split-left-offset);
      animation: workspace-split-left-slide-in
        var(--floating-sides-animation-duration);

      &.is-sidedock-collapsed {
        animation: workspace-split-left-slide-out
          var(--floating-sides-animation-duration);
      }
    }

    &.mod-right-split {
      right: 0;
      animation: workspace-split-right-slide-in
        var(--floating-sides-animation-duration);

      &.is-sidedock-collapsed {
        animation: workspace-split-right-slide-out
          var(--floating-sides-animation-duration);
      }
    }
  }
}
