/* Pop Ups */
@use "../../fonts/F-icons";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0.17;
  }
  100% {
    opacity: 0;
  }
}

.theme-dark,
.theme-light {
  .callout {
    &[data-callout="pu"],
    &[data-callout="pu-info"],
    &[data-callout="pu-imp"],
    &[data-callout="pu-quest"],
    &[data-callout="pu-check"],
    &[data-callout="pu-fail"] {
      animation: fadeOut 0.3s;
      transition: 0.3s visibility ease-in-out, 0.3s margin ease-in-out;
      visibility: hidden;

      border: none;
      width: 35em;

      position: absolute;

      margin-left: -35.5em;
      z-index: 10;
    }

    &[data-callout="pu"]:before,
    &[data-callout="pu-info"]:before,
    &[data-callout="pu-imp"]:before,
    &[data-callout="pu-quest"]:before,
    &[data-callout="pu-check"]:before,
    &[data-callout="pu-fail"]:before {
      content: "";
      display: block;
      visibility: visible;
      position: absolute;

      font-family: "FA5FS";
      margin-left: +36.2em;
      text-align: center;
      font-size: 15px;

      width: 18px;
      height: 20px;
    }

    &[data-callout="pu"]:hover,
    &[data-callout="pu-info"]:hover,
    &[data-callout="pu-imp"]:hover,
    &[data-callout="pu-quest"]:hover,
    &[data-callout="pu-check"]:hover,
    &[data-callout="pu-fail"]:hover {
      animation: fadeIn 0.6s;
      visibility: visible;
      width: 35em;
      margin-left: -30px;
      z-index: 777;

      &:before {
        visibility: hidden;
      }
    }

    /* Default */
    &[data-callout="pu"] {
      --callout-icon: lucide-info;
      --callout-color: white;

      &:before {
        content: "\f0da";
        background-color: var(--PU_pu-bf-bg);
      }

      & .callout-title {
        background-color: var(--PU_pu-tl-bg);
      }

      & .callout-content {
        background-color: var(--PU_pu-ct-bg);
      }
    }

    /*Information*/
    &[data-callout="pu-info"] {
      --callout-icon: lucide-info;
      --callout-color: white;

      &:before {
        content: "\f05a";
        background-color: var(--PU_pu-info-bf-bg);
      }

      & .callout-title {
        background-color: var(--PU_pu-info-tl-bg);
      }

      & .callout-content {
        background-color: var(--PU_pu-info-ct-bg);
      }
    }

    /*Important*/
    &[data-callout="pu-imp"] {
      --callout-icon: lucide-alert-triangle;
      --callout-color: white;

      &:before {
        content: "\f12a";
        background-color: var(--PU_pu-imp-bf-bg);
      }

      & .callout-title {
        background-color: var(--PU_pu-imp-tl-bg);
      }

      & .callout-content {
        background-color: var(--PU_pu-imp-ct-bg);
      }
    }

    /*Question*/
    &[data-callout="pu-quest"] {
      --callout-icon: lucide-help-circle;
      --callout-color: white;

      &:before {
        content: "\f128";
        background-color: var(--PU_pu-quest-bf-bg);
      }

      & .callout-title {
        background-color: var(--PU_pu-quest-tl-bg);
      }

      & .callout-content {
        background-color: var(--PU_pu-quest-ct-bg);
      }
    }

    /*Check*/
    &[data-callout="pu-check"] {
      --callout-icon: lucide-check;
      --callout-color: white;

      &:before {
        content: "\f00c";
        background-color: var(--PU_pu-check-bf-bg);
      }

      & .callout-title {
        background-color: var(--PU_pu-check-tl-bg);
      }

      & .callout-content {
        background-color: var(--PU_pu-check-ct-bg);
      }
    }

    /*Fail*/
    &[data-callout="pu-fail"] {
      --callout-icon: lucide-x;
      --callout-color: white;

      &:before {
        content: "\f00d";
        background-color: var(--PU_pu-fail-bf-bg);
      }

      & .callout-title {
        background-color: var(--PU_pu-fail-tl-bg);
      }

      & .callout-content {
        background-color: var(--PU_pu-fail-ct-bg);
      }
    }
  }
}
