/* 
    Dataview Containers and Items 
    Allows you to flex n numbers of Dataview Querys
*/

.callout {
  &[data-callout="dv-container"] {
    border: none;
    background-color: transparent;

    & .callout-title {
      background-color: transparent;
      padding-bottom: 0px;
      padding-top: 0px;
    }

    & .callout-icon {
      display: none;
    }

    & .callout-content {
      display: flex;
      justify-content: center;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  &[data-callout="dv-item"] {
    border: none;
    margin: 0px;
    background-color: transparent;
    width: 100%;

    & .callout-content {
      background-color: transparent;
      border: none;
    }

    & .callout-content div {
      width: 100%;
    }

    & .callout-title {
      display: none;
    }
  }

  /*Dataview - Item - Heigth Limit*/
  &[data-callout="dv-item-hl"] {
    border: none;
    margin: 0px;
    background-color: transparent;
    width: 100%;
    height: 15em; /*Study this value - Style Settings?*/

    & .callout-content {
      background-color: transparent;
      border: none;
    }

    & .callout-content div {
      width: 100%;
    }

    & .callout-title {
      display: none;
    }
  }
}
