/* Icons */

@mixin clear {
  & > path {
    display: none;
    stroke-width: 0;
  }

  background-color: currentColor;
}

.theme-dark,
.theme-light {
  svg.folder {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 1.5C2.89543 1.5 2 2.39543 2 3.5V4.5C2 4.55666 2.00236 4.61278 2.00698 4.66825C0.838141 5.07811 0 6.19118 0 7.5V19.5C0 21.1569 1.34315 22.5 3 22.5H21C22.6569 22.5 24 21.1569 24 19.5V7.5C24 5.84315 22.6569 4.5 21 4.5H11.874C11.4299 2.77477 9.86384 1.5 8 1.5H4ZM9.73244 4.5C9.38663 3.9022 8.74028 3.5 8 3.5H4V4.5H9.73244ZM3 6.5C2.44772 6.5 2 6.94772 2 7.5V19.5C2 20.0523 2.44772 20.5 3 20.5H21C21.5523 20.5 22 20.0523 22 19.5V7.5C22 6.94772 21.5523 6.5 21 6.5H3Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  .nav-action-button {
    svg.folder {
      @include clear;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M11 14.5V16.5H13V14.5H15V12.5H13V10.5H11V12.5H9V14.5H11Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 1.5C2.89543 1.5 2 2.39543 2 3.5V4.5C2 4.55666 2.00236 4.61278 2.00698 4.66825C0.838141 5.07811 0 6.19118 0 7.5V19.5C0 21.1569 1.34315 22.5 3 22.5H21C22.6569 22.5 24 21.1569 24 19.5V7.5C24 5.84315 22.6569 4.5 21 4.5H11.874C11.4299 2.77477 9.86384 1.5 8 1.5H4ZM9.73244 4.5C9.38663 3.9022 8.74028 3.5 8 3.5H4V4.5H9.73244ZM3 6.5C2.44772 6.5 2 6.94772 2 7.5V19.5C2 20.0523 2.44772 20.5 3 20.5H21C21.5523 20.5 22 20.0523 22 19.5V7.5C22 6.94772 21.5523 6.5 21 6.5H3Z' fill='currentColor' /%3E%3C/svg%3E");
    }
  }

  svg.search {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='70' height='72' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829C14.5327 0.744098 9.46734 0.744098 6.34315 3.86829C3.21895 6.99249 3.21895 12.0578 6.34315 15.182C9.22833 18.0672 13.769 18.2879 16.9075 15.8442C16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317C22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678C13.8995 16.1109 10.1005 16.1109 7.75736 13.7678C5.41421 11.4246 5.41421 7.62565 7.75736 5.28251C10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.document {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='77' height='77' viewBox='-1 1 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 5C3 3.34315 4.34315 2 6 2H14C17.866 2 21 5.13401 21 9V19C21 20.6569 19.6569 22 18 22H6C4.34315 22 3 20.6569 3 19V5ZM13 4H6C5.44772 4 5 4.44772 5 5V19C5 19.5523 5.44772 20 6 20H18C18.5523 20 19 19.5523 19 19V9H13V4ZM18.584 7C17.9413 5.52906 16.6113 4.4271 15 4.10002V7H18.584Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.up-and-down-arrows {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='102' height='102' viewBox='5 4 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M12.9842 15C12.9842 15.5523 13.4319 16 13.9842 16C14.3416 16 14.6552 15.8125 14.832 15.5305L17.5196 12.8429C17.9101 12.4524 17.9101 11.8192 17.5196 11.4287C17.1291 11.0382 16.4959 11.0382 16.1054 11.4287L14.9842 12.5499L14.9842 5C14.9842 4.44771 14.5364 4 13.9842 4C13.4319 4 12.9842 4.44772 12.9842 5L12.9842 14.9506C12.984 14.9597 12.984 14.9688 12.9842 14.9779V15Z' fill='currentColor' /%3E%3Cpath d='M11.016 9C11.016 8.44771 10.5682 8 10.016 8C9.65856 8 9.34496 8.18748 9.16813 8.46947L6.48052 11.1571C6.08999 11.5476 6.08999 12.1808 6.48051 12.5713C6.87104 12.9618 7.5042 12.9618 7.89473 12.5713L9.01596 11.4501L9.01596 19C9.01596 19.5523 9.46367 20 10.016 20C10.5682 20 11.016 19.5523 11.016 19L11.016 9.04945C11.0161 9.04033 11.0161 9.03121 11.016 9.02208V9Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.go-to-file {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='78' height='78' viewBox='2 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M15.4857 20H19.4857C20.5903 20 21.4857 19.1046 21.4857 18V6C21.4857 4.89543 20.5903 4 19.4857 4H15.4857V6H19.4857V18H15.4857V20Z' fill='currentColor' /%3E%3Cpath d='M10.1582 17.385L8.73801 15.9768L12.6572 12.0242L3.51428 12.0242C2.96199 12.0242 2.51428 11.5765 2.51428 11.0242C2.51429 10.4719 2.962 10.0242 3.51429 10.0242L12.6765 10.0242L8.69599 6.0774L10.1042 4.6572L16.4951 10.9941L10.1582 17.385Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.dot-network {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='71' height='71' viewBox='1 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1H1V9H9V6H11V20H15V23H23V15H15V18H13V6H15V9H23V1H15V4H9V1ZM21 3H17V7H21V3ZM17 17H21V21H17V17Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.run-command {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='66' height='66' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M5.0333 14.8284L6.44751 16.2426L10.6902 12L6.44751 7.75733L5.0333 9.17155L7.86172 12L5.0333 14.8284Z' fill='currentColor' /%3E%3Cpath d='M15 14H11V16H15V14Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 2C0.895431 2 0 2.89543 0 4V20C0 21.1046 0.89543 22 2 22H22C23.1046 22 24 21.1046 24 20V4C24 2.89543 23.1046 2 22 2H2ZM22 4H2L2 20H22V4Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.help {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='74' height='74' viewBox='1 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 10.9794C11 10.4271 11.4477 9.97937 12 9.97937C12.5523 9.97937 13 10.4271 13 10.9794V16.9794C13 17.5317 12.5523 17.9794 12 17.9794C11.4477 17.9794 11 17.5317 11 16.9794V10.9794Z' fill='currentColor' /%3E%3Cpath d='M12 6.05115C11.4477 6.05115 11 6.49886 11 7.05115C11 7.60343 11.4477 8.05115 12 8.05115C12.5523 8.05115 13 7.60343 13 7.05115C13 6.49886 12.5523 6.05115 12 6.05115Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.gear {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='1 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 3C8.86384 3 10.4299 4.27477 10.874 6H19V8H10.874C10.4299 9.72523 8.86384 11 7 11C4.79086 11 3 9.20914 3 7C3 4.79086 4.79086 3 7 3ZM7 9C8.10457 9 9 8.10457 9 7C9 5.89543 8.10457 5 7 5C5.89543 5 5 5.89543 5 7C5 8.10457 5.89543 9 7 9Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 20C15.1362 20 13.5701 18.7252 13.126 17H5V15H13.126C13.5701 13.2748 15.1362 12 17 12C19.2091 12 21 13.7909 21 16C21 18.2091 19.2091 20 17 20ZM17 18C18.1046 18 19 17.1046 19 16C19 14.8954 18.1046 14 17 14C15.8954 14 15 14.8954 15 16C15 17.1046 15.8954 18 17 18Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.calendar-with-checkmark {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='82' height='82' viewBox='0 1 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 17C16.1046 17 17 16.1046 17 15C17 13.8954 16.1046 13 15 13C13.8954 13 13 13.8954 13 15C13 16.1046 13.8954 17 15 17Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 3C4.34315 3 3 4.34315 3 6V18C3 19.6569 4.34315 21 6 21H18C19.6569 21 21 19.6569 21 18V6C21 4.34315 19.6569 3 18 3H6ZM5 18V7H19V18C19 18.5523 18.5523 19 18 19H6C5.44772 19 5 18.5523 5 18Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.vertical-three-dots {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='102' height='102' viewBox='4 2 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 6C14 7.10457 13.1046 8 12 8C10.8954 8 10 7.10457 10 6C10 4.89543 10.8954 4 12 4C13.1046 4 14 4.89543 14 6Z' fill='currentColor' /%3E%3Cpath d='M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z' fill='currentColor' /%3E%3Cpath d='M14 18C14 19.1046 13.1046 20 12 20C10.8954 20 10 19.1046 10 18C10 16.8954 10.8954 16 12 16C13.1046 16 14 16.8954 14 18Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.link {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='4 2 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8284 12L16.2426 13.4142L19.071 10.5858C20.6331 9.02365 20.6331 6.49099 19.071 4.9289C17.509 3.3668 14.9763 3.3668 13.4142 4.9289L10.5858 7.75732L12 9.17154L14.8284 6.34311C15.6095 5.56206 16.8758 5.56206 17.6568 6.34311C18.4379 7.12416 18.4379 8.39049 17.6568 9.17154L14.8284 12Z' fill='currentColor' /%3E%3Cpath d='M12 14.8285L13.4142 16.2427L10.5858 19.0711C9.02372 20.6332 6.49106 20.6332 4.92896 19.0711C3.36686 17.509 3.36686 14.9764 4.92896 13.4143L7.75739 10.5858L9.1716 12L6.34317 14.8285C5.56212 15.6095 5.56212 16.8758 6.34317 17.6569C7.12422 18.4379 8.39055 18.4379 9.1716 17.6569L12 14.8285Z' fill='currentColor' /%3E%3Cpath d='M14.8285 10.5857C15.219 10.1952 15.219 9.56199 14.8285 9.17147C14.4379 8.78094 13.8048 8.78094 13.4142 9.17147L9.1716 13.4141C8.78107 13.8046 8.78107 14.4378 9.1716 14.8283C9.56212 15.2188 10.1953 15.2188 10.5858 14.8283L14.8285 10.5857Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.hashtag {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='85' height='85' viewBox='2 1.5 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 4V8H4V10H8V14H4V16H8V20H10V16H14V20H16V16H20V14H16V10H20V8H16V4H14V8H10V4H8ZM14 14V10H10V14H14Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.bullet-list {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='4 4 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 7H7V9H9V7Z' fill='currentColor' /%3E%3Cpath d='M7 13V11H9V13H7Z' fill='currentColor' /%3E%3Cpath d='M7 15V17H9V15H7Z' fill='currentColor' /%3E%3Cpath d='M11 15V17H17V15H11Z' fill='currentColor' /%3E%3Cpath d='M17 13V11H11V13H17Z' fill='currentColor' /%3E%3Cpath d='M17 7V9H11V7H17Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.vertical-split {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='77' height='77' viewBox='2 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.24268 7H11.2427V11.0001H11.2477V13.0001H11.2427V17H9.24268V13.0001L4.82846 13L6.65685 14.8284L5.24264 16.2426L1 12L5.24264 7.75732L6.65685 9.17154L4.82839 11H9.24264L9.24268 7Z' fill='currentColor' /%3E%3Cpath d='M15.2527 7.00012H13.2527V11.0001H13.2477V13.0001H13.2527V17.0001H15.2527V13.0001L19.667 13L17.8385 14.8285L19.2527 16.2427L23.4954 12L19.2527 7.75739L17.8385 9.17161L19.6669 11H15.2527L15.2527 7.00012Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.horizontal-split {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='77' height='77' viewBox='2 2.1 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2427 5.24264L14.8285 6.65685L13 4.82839L13.0001 9.24268H17.0001V11.2427H7.00012V9.24268H11.0001L11 4.82846L9.17161 6.65685L7.75739 5.24264L12 1L16.2427 5.24264Z' fill='currentColor' /%3E%3Cpath d='M7 15.2527V13.2527H17V15.2527H13.0001L13 19.6669L14.8284 17.8385L16.2426 19.2527L12 23.4954L7.75732 19.2527L9.17154 17.8385L11 19.667V15.2527L7 15.2527Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.trash {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='2 1.5 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z' fill='currentColor' /%3E%3Cpath d='M9 9H11V17H9V9Z' fill='currentColor' /%3E%3Cpath d='M13 9H15V17H13V9Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  .menu-item,
  .mod-settings {
    svg.folder {
      @include clear;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='68' height='68' viewBox='0.2 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 1.5C2.89543 1.5 2 2.39543 2 3.5V4.5C2 4.55666 2.00236 4.61278 2.00698 4.66825C0.838141 5.07811 0 6.19118 0 7.5V19.5C0 21.1569 1.34315 22.5 3 22.5H21C22.6569 22.5 24 21.1569 24 19.5V7.5C24 5.84315 22.6569 4.5 21 4.5H11.874C11.4299 2.77477 9.86384 1.5 8 1.5H4ZM9.73244 4.5C9.38663 3.9022 8.74028 3.5 8 3.5H4V4.5H9.73244ZM3 6.5C2.44772 6.5 2 6.94772 2 7.5V19.5C2 20.0523 2.44772 20.5 3 20.5H21C21.5523 20.5 22 20.0523 22 19.5V7.5C22 6.94772 21.5523 6.5 21 6.5H3Z' fill='currentColor' /%3E%3C/svg%3E");
    }
  }

  svg.blocks {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='85' height='85' viewBox='2.5 2.5 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 3H21V11H13V3ZM15 5H19V9H15V5Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 21V13H11V7H3V21H17ZM9 9H5V13H9V9ZM5 19L5 15H9V19H5ZM11 19V15H15V19H11Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.sheets-in-box {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='1 1 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 5C2 3.34315 3.34315 2 5 2H19C20.6569 2 22 3.34315 22 5V20C22 21.1046 21.1046 22 20 22H8.1477C8.09893 22.0036 8.04968 22.0054 8 22.0054H4C2.89543 22.0054 2 21.1099 2 20.0054V5ZM5 4H19C19.5523 4 20 4.44771 20 5V14H16C14.8954 14 14 14.8954 14 16V17H10V16.0054C10 14.9008 9.10457 14.0054 8 14.0054H4V5C4 4.44772 4.44771 4 5 4Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.dice {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='1 1 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9451 7.05518C14.9451 5.95061 15.8405 5.05518 16.9451 5.05518C18.0496 5.05518 18.9451 5.95061 18.9451 7.05518C18.9451 8.15975 18.0496 9.05518 16.9451 9.05518C15.8405 9.05518 14.9451 8.15975 14.9451 7.05518Z' fill='currentColor' /%3E%3Cpath d='M16.9451 14.8921C15.8405 14.8921 14.9451 15.7875 14.9451 16.8921C14.9451 17.9967 15.8405 18.8921 16.9451 18.8921C18.0496 18.8921 18.9451 17.9967 18.9451 16.8921C18.9451 15.7875 18.0496 14.8921 16.9451 14.8921Z' fill='currentColor' /%3E%3Cpath d='M5.05518 16.8921C5.05518 15.7875 5.95061 14.8921 7.05518 14.8921C8.15975 14.8921 9.05518 15.7875 9.05518 16.8921C9.05518 17.9967 8.15975 18.8921 7.05518 18.8921C5.95061 18.8921 5.05518 17.9967 5.05518 16.8921Z' fill='currentColor' /%3E%3Cpath d='M7.05518 5.05518C5.95061 5.05518 5.05518 5.95061 5.05518 7.05518C5.05518 8.15975 5.95061 9.05518 7.05518 9.05518C8.15975 9.05518 9.05518 8.15975 9.05518 7.05518C9.05518 5.95061 8.15975 5.05518 7.05518 5.05518Z' fill='currentColor' /%3E%3Cpath d='M10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 4C1 2.34315 2.34315 1 4 1H20C21.6569 1 23 2.34315 23 4V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4ZM4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.microphone {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='1 1 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4C9 2.34315 10.3431 1 12 1C13.6569 1 15 2.34315 15 4V12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12V4ZM13 4V12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12V4C11 3.44772 11.4477 3 12 3C12.5523 3 13 3.44772 13 4Z' fill='currentColor' /%3E%3Cpath d='M18 12C18 14.973 15.8377 17.441 13 17.917V21H17V23H7V21H11V17.917C8.16229 17.441 6 14.973 6 12V9H8V12C8 14.2091 9.79086 16 12 16C14.2091 16 16 14.2091 16 12V9H18V12Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.pane-layout {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='73' height='73' viewBox='0.7 1 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 5C4 3.34315 5.34315 2 7 2H17C18.6569 2 20 3.34315 20 5V19C20 20.6569 18.6569 22 17 22H7C5.34315 22 4 20.6569 4 19V5ZM13 4H17C17.5523 4 18 4.44772 18 5V13H13V4ZM13 15V20H17C17.5523 20 18 19.5523 18 19V15H13ZM11 4H7C6.44771 4 6 4.44772 6 5V8H11V4ZM6 19V10H11V20H7C6.44772 20 6 19.5523 6 19Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.left-arrow {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='110' height='110' viewBox='5.5 5 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2426 6.34317L14.8284 4.92896L7.75739 12L14.8285 19.0711L16.2427 17.6569L10.5858 12L16.2426 6.34317Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.right-arrow {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='110' height='110' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  .workspace-ribbon.side-dock-ribbon.mod-right {
    svg.left-arrow {
      @include clear;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 5 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2426 6.34317L14.8284 4.92896L7.75739 12L14.8285 19.0711L16.2427 17.6569L10.5858 12L16.2426 6.34317Z' fill='currentColor' /%3E%3C/svg%3E");
    }

    svg.right-arrow {
      @include clear;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='110' height='110' viewBox='8 5 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z' fill='currentColor' /%3E%3C/svg%3E");
    }
  }

  .menu-item {
    svg.bullet-list {
      @include clear;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='5 5 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 7H7V9H9V7Z' fill='currentColor' /%3E%3Cpath d='M7 13V11H9V13H7Z' fill='currentColor' /%3E%3Cpath d='M7 15V17H9V15H7Z' fill='currentColor' /%3E%3Cpath d='M11 15V17H17V15H11Z' fill='currentColor' /%3E%3Cpath d='M17 13V11H11V13H17Z' fill='currentColor' /%3E%3Cpath d='M17 7V9H11V7H17Z' fill='currentColor' /%3E%3C/svg%3E");
    }

    svg.document {
      @include clear;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 1 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9498 5.96781L15.5356 7.38203L13 4.84646V17.0421H11V4.84653L8.46451 7.38203L7.05029 5.96781L12 1.01807L16.9498 5.96781Z' fill='currentColor' /%3E%3Cpath d='M5 20.9819V10.9819H9V8.98193H3V22.9819H21V8.98193H15V10.9819H19V20.9819H5Z' fill='currentColor' /%3E%3C/svg%3E");
    }
  }

  svg.popup-open {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 13.9633H16V7.96331H10V9.96331H12.5858L7.25623 15.2929L8.67044 16.7071L14 11.3775V13.9633Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23 19C23 21.2091 21.2091 23 19 23H5C2.79086 23 1 21.2091 1 19V5C1 2.79086 2.79086 1 5 1H19C21.2091 1 23 2.79086 23 5V19ZM19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  .dropdown {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='3 3 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 15.2348L12 18.5681L18 15.2348V8.76521L12 5.43188L6 8.76521V15.2348ZM12 2L3 7V17L12 22L21 17V7L12 2Z' fill='darkseagreen' /%3E%3C/svg%3E");
  }

  svg.two-blank-pages {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='67' height='67' viewBox='1 0.5 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0C16.7614 0 19 2.23858 19 5V17C19 20.866 15.866 24 12 24C8.13401 24 5 20.866 5 17V9H7V17C7 19.7614 9.23858 22 12 22C14.7614 22 17 19.7614 17 17V5C17 3.34315 15.6569 2 14 2C12.3431 2 11 3.34315 11 5V17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17V6H15V17C15 18.6569 13.6569 20 12 20C10.3431 20 9 18.6569 9 17V5C9 2.23858 11.2386 0 14 0Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.paste {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='75' height='75' viewBox='1 1 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H15.9595C16.5118 13 16.9595 12.5523 16.9595 12C16.9595 11.4477 16.5118 11 15.9595 11H8Z' fill='currentColor' /%3E%3Cpath d='M8.04053 15.0665C7.48824 15.0665 7.04053 15.5142 7.04053 16.0665C7.04053 16.6188 7.48824 17.0665 8.04053 17.0665H16C16.5523 17.0665 17 16.6188 17 16.0665C17 15.5142 16.5523 15.0665 16 15.0665H8.04053Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM7 5H5L5 19H19V5H17V6C17 7.65685 15.6569 9 14 9H10C8.34315 9 7 7.65685 7 6V5ZM9 5V6C9 6.55228 9.44772 7 10 7H14C14.5523 7 15 6.55228 15 6V5H9Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.reset {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='3.5 3.7 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1459 11.0499L12.9716 9.05752L15.3462 8.84977C14.4471 7.98322 13.2242 7.4503 11.8769 7.4503C9.11547 7.4503 6.87689 9.68888 6.87689 12.4503C6.87689 15.2117 9.11547 17.4503 11.8769 17.4503C13.6977 17.4503 15.2911 16.4771 16.1654 15.0224L18.1682 15.5231C17.0301 17.8487 14.6405 19.4503 11.8769 19.4503C8.0109 19.4503 4.87689 16.3163 4.87689 12.4503C4.87689 8.58431 8.0109 5.4503 11.8769 5.4503C13.8233 5.4503 15.5842 6.24474 16.853 7.52706L16.6078 4.72412L18.6002 4.5498L19.1231 10.527L13.1459 11.0499Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.switch {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='3 3 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.56079 10.6418L6.35394 3.94971L8.25402 5.84979C11.7312 3.6588 16.3814 4.07764 19.41 7.1063L17.9958 8.52052C15.7536 6.27827 12.3686 5.87519 9.71551 7.31128L11.2529 8.84869L4.56079 10.6418Z' fill='currentColor' /%3E%3Cpath d='M19.4392 13.3581L17.646 20.0502L15.7459 18.1501C12.2688 20.3411 7.61857 19.9223 4.58991 16.8936L6.00413 15.4794C8.24638 17.7217 11.6313 18.1247 14.2844 16.6887L12.747 15.1512L19.4392 13.3581Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  svg.any-key {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='85' height='85' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 22C3.34315 22 2 20.6569 2 19V5C2 3.34315 3.34315 2 5 2H19C20.6569 2 22 3.34315 22 5V19C22 20.6569 20.6569 22 19 22H5ZM4 19C4 19.5523 4.44772 20 5 20H19C19.5523 20 20 19.5523 20 19V5C20 4.44772 19.5523 4 19 4H5C4.44772 4 4 4.44772 4 5V19Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  .mod-toggle {
    svg.any-key {
      @include clear;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='75' height='75' viewBox='1 1 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 22C3.34315 22 2 20.6569 2 19V5C2 3.34315 3.34315 2 5 2H19C20.6569 2 22 3.34315 22 5V19C22 20.6569 20.6569 22 19 22H5ZM4 19C4 19.5523 4.44772 20 5 20H19C19.5523 20 20 19.5523 20 19V5C20 4.44772 19.5523 4 19 4H5C4.44772 4 4 4.44772 4 5V19Z' fill='currentColor' /%3E%3C/svg%3E");
    }
  }

  svg.install {
    @include clear;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='95' height='95' viewBox='4 4.2 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 5C11 4.44772 11.4477 4 12 4C12.5523 4 13 4.44772 13 5V12.1578L16.2428 8.91501L17.657 10.3292L12.0001 15.9861L6.34326 10.3292L7.75748 8.91501L11 12.1575V5Z' fill='currentColor' /%3E%3Cpath d='M4 14H6V18H18V14H20V18C20 19.1046 19.1046 20 18 20H6C4.89543 20 4 19.1046 4 18V14Z' fill='currentColor' /%3E%3C/svg%3E");
  }

  .kanban-plugin__lane-settings-button {
    svg.vertical-three-dots {
      @include clear;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='3 3 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 6C14 7.10457 13.1046 8 12 8C10.8954 8 10 7.10457 10 6C10 4.89543 10.8954 4 12 4C13.1046 4 14 4.89543 14 6Z' fill='currentColor' /%3E%3Cpath d='M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z' fill='currentColor' /%3E%3Cpath d='M14 18C14 19.1046 13.1046 20 12 20C10.8954 20 10 19.1046 10 18C10 16.8954 10.8954 16 12 16C13.1046 16 14 16.8954 14 18Z' fill='currentColor' /%3E%3C/svg%3E");
    }
  }

  .community-theme-downloads,
  .community-plugin-downloads {
    svg.install {
      @include clear;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='4 4.2 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 5C11 4.44772 11.4477 4 12 4C12.5523 4 13 4.44772 13 5V12.1578L16.2428 8.91501L17.657 10.3292L12.0001 15.9861L6.34326 10.3292L7.75748 8.91501L11 12.1575V5Z' fill='currentColor' /%3E%3Cpath d='M4 14H6V18H18V14H20V18C20 19.1046 19.1046 20 18 20H6C4.89543 20 4 19.1046 4 18V14Z' fill='currentColor' /%3E%3C/svg%3E");
    }
  }
}

.AT_GC {
  .dropdown {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='3 3 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 15.2348L12 18.5681L18 15.2348V8.76521L12 5.43188L6 8.76521V15.2348ZM12 2L3 7V17L12 22L21 17V7L12 2Z' fill='peru' /%3E%3C/svg%3E");
  }

  .community-theme.is-selected .community-theme-title::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='2 2 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evensodd' d='M6 15.2348L12 18.5681L18 15.2348V8.76521L12 5.43188L6 8.76521V15.2348ZM12 2L3 7V17L12 22L21 17V7L12 2Z' fill='peru' /%3E%3C/svg%3E") !important;
  }
}

.AT_GB {
  .dropdown {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='3 3 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 15.2348L12 18.5681L18 15.2348V8.76521L12 5.43188L6 8.76521V15.2348ZM12 2L3 7V17L12 22L21 17V7L12 2Z' fill='brown' /%3E%3C/svg%3E");
  }

  .community-theme.is-selected .community-theme-title::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='2 2 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evensodd' d='M6 15.2348L12 18.5681L18 15.2348V8.76521L12 5.43188L6 8.76521V15.2348ZM12 2L3 7V17L12 22L21 17V7L12 2Z' fill='brown' /%3E%3C/svg%3E") !important;
  }
}

.AT_Alch {
  .dropdown {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='3 3 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 15.2348L12 18.5681L18 15.2348V8.76521L12 5.43188L6 8.76521V15.2348ZM12 2L3 7V17L12 22L21 17V7L12 2Z' fill='burlywood' /%3E%3C/svg%3E");
  }

  .community-theme.is-selected .community-theme-title::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='2 2 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evensodd' d='M6 15.2348L12 18.5681L18 15.2348V8.76521L12 5.43188L6 8.76521V15.2348ZM12 2L3 7V17L12 22L21 17V7L12 2Z' fill='burlywood' /%3E%3C/svg%3E") !important;
  }
}
