.markdown-rendered {
  blockquote {
    padding-left: 10px;
    background-color: var(--blockquote-background-color);
  }
}

.HyperMD-quote {
  .cm-highlight.cm-quote {
    background-color: var(--blockquote-mark-background-color);
  }
}
