.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  padding-left: 1px;
}

code[class*="language-"],
pre[class*="language-"] {
  padding-top: 4px;
  padding-bottom: 4px;

  padding-left: 7px;
  padding-right: 7px;

  min-height: fit-content;

  .copy-code-button {
    padding-top: 2px;
    padding-bottom: 2px;

    margin-top: 4px;
  }
}
