@mixin hastag2Hn($headingLevel, $offset) {
  .HyperMD-header-#{$headingLevel}:not(.cm-active) {
    .cm-formatting-header-#{$headingLevel} {
      visibility: hidden;
      margin-left: calc(#{$offset} * var(--h#{$headingLevel}-size));

      &:after {
        visibility: visible;
        content: "H#{$headingLevel} ";
        color: var(--heading-formatting-color);
      }
    }

    .collapse-indicator {
      svg {
        transform: translate(0px, -15%);
      }
    }

    // Custom Hn DEBUG
    // .cm-formatting-header-#{$headingLevel} {
    //   &:before {
    //     visibility: visible;
    //     content: "";
    //     height: 7px;
    //     width: 3px;

    //     position: absolute;
    //     left: -1.25%;
    //     top: 50%;
    //     transform: translate(0px, -50%);

    //     background-color: red;
    //   }
    // }
  }
}

@include hastag2Hn(1, -0.7);
@include hastag2Hn(2, -1.1);
@include hastag2Hn(3, -1.6);
@include hastag2Hn(4, -2.3);
@include hastag2Hn(5, -3.1);
@include hastag2Hn(6, -4);
