@mixin upper_code {
  visibility: hidden;
  //font-size: 0px !important;
  position: absolute;
}

@mixin lower_code {
  display: inline;
  width: fit-content;
  position: absolute;

  margin-left: -23px;
  top: 50%;

  transform: translate(0, -50%);
  visibility: visible;

  font-size: var(--font-text-size) !important;
  color: var(--heading-counter);
}

//Feature done by: Luke242#8485
@keyframes indent {
  from {
    transform: translateX(calc(-1 * var(--header-offset)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes outdent {
  from {
    transform: translateX(var(--header-offset));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//-----------------------------------------------------------------

.markdown-source-view.mod-cm6 {
  @for $i from 1 through 6 {
    .cm-line .cm-formatting-header-#{$i} {
      @include upper_code;

      &:before {
        content: "H#{$i}";
        @include lower_code;
      }
    }

    // Headings Active Line
    .cm-active.cm-line .cm-formatting-header-#{$i} {
      margin-right: 0px !important;
      visibility: visible;
      font-size: inherit !important;
      position: relative;

      &:before {
        display: none;
      }
    }
  }
}

.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator {
  padding-right: 2.7rem;
}

/*< Live Preview view >*/
.is-live-preview {
  //Feature done by: Luke242#8485
  .cm-widgetBuffer + .cm-header {
    animation: outdent 250ms ease-out;
    display: inline-block;
  }

  .cm-widgetBuffer + .cm-header.cm-formatting {
    animation: opac 250ms ease-in;
  }

  .cm-active .cm-header + .cm-header {
    animation: indent 250ms ease-out;
    display: inline-block;
  }

  .cm-header-1 {
    --header-offset: 1.2ch;
  }
  .cm-header-2 {
    --header-offset: 2.2ch;
  }
  .cm-header-3 {
    --header-offset: 3.2ch;
  }
  .cm-header-4 {
    --header-offset: 4.2ch;
  }
  .cm-header-5 {
    --header-offset: 5.2ch;
  }
  .cm-header-6 {
    --header-offset: 6.2ch;
  }
}
