.markdown-preview-view {
  hr {
    overflow: visible;
    //font-family: "FA5FS";
    position: relative;

    margin-top: 12px;
    margin-bottom: 12px;

    /*&:after {
      content: "\f6fc";
      display: block;
      position: absolute;

      left: 50%;
      transform: translate(-50%, -50%);

      padding: 0 0.3em;

      background-color: var(--background-primary);
      color: var(--text-muted);
    }*/
  }
}
