body {
  --list-indent: 1.4em;
}

ol,
ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol {
  list-style-type: decimal;
}

ol ol,
ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol {
  list-style-type: upper-alpha;
}

ol ol ol,
ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol ol {
  list-style-type: upper-roman;
}

ol ol ol ol,
ol ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol ol ol {
  list-style-type: lower-alpha;
}

ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

ul,
ul ul ul,
ul ul ul ul ul,
ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul {
  .list-bullet {
    &::after {
      border-radius: var(--list-bullet-radius);
    }
  }
}

ul ul,
ul ul ul ul,
ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul ul {
  .list-bullet {
    &::after {
      border-radius: 0px;
    }
  }
}
