body {
  --list-indent: 1.4em;
}

.markdown-source-view ol > li,
.markdown-source-view ul > li,
.markdown-preview-view ol > li,
.markdown-preview-view ul > li,
.markdown-rendered ul > li,
.mod-cm6 .HyperMD-list-line.cm-line {
  /*line-height: 0px !important;
  * {
    line-height: 0px !important;
  }*/
}

ol,
ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol {
  list-style-type: decimal;
}

ol ol,
ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol {
  list-style-type: upper-alpha;
}

ol ol ol,
ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol ol {
  list-style-type: upper-roman;
}

ol ol ol ol,
ol ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol ol ol {
  list-style-type: lower-alpha;
}

ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol ol ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

ul,
ul ul ul,
ul ul ul ul ul,
ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul {
  .list-bullet {
    &::after {
      border-radius: var(--list-bullet-radius);
    }
  }
}

ul ul,
ul ul ul ul,
ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul ul {
  .list-bullet {
    &::after {
      border-radius: 0px;
    }
  }
}
