.ACS_GC {
  --font-default: "Kalam";
}

.theme-dark {
  &.ACS_GC {
    // Obsidian Left Panel IDon
    .sidebar-toggle-button.mod-left {
      .clickable-icon {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='18' height='18' fill='none' stroke='bisque' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M 30.91 17.52 L 34.43 35.7 M 61.44 14.41 L 62.61 0 M 34.43 35.7 L 37.57 90.47 M 81 26.39 L 61.44 14.41 L 34.43 35.7 L 65.35 100 M 62.61 0 L 30.91 17.52 L 18 45.45 L 37.57 90.47 L 65.35 100 L 70.44 89.8 L 81 26.39 L 62.61 0 Z'%3E%3C/path%3E%3C/svg%3E");
        }
      }
    }

    // Horizontal Line Icon
    .markdown-preview-view {
      hr {
        &:after {
          content: "\f7b6";
        }
      }
    }

    //// Native Variables
    // Blockquotes
    --blockquote-border-thickness: 3px;
    --blockquote-border-color: #a86f46;
    --blockquote-color: var(--text-muted);
    --blockquote-background-color: #44190d;

    // Bold
    --bold-color: #dd752f;

    // Callouts
    --callout-blend-mode: normal;

    // Icons
    --icon-color-active: #d4996e;
    --icon-color-focused: #c9895b;

    // Indentation Guide
    --indentation-guide-color: var(--color-base-40);
    --indentation-guide-color-active: var(--color-base-50);

    // Italic
    --italic-color: #f0b64c;

    // Scrollbars
    --scrollbar-bg: transparent;
    --scrollbar-thumb-bg: #643326;
    --scrollbar-active-thumb-bg: #853d29;

    // Window Frame
    --titlebar-background: #583227;
    --titlebar-background-focused: var(--background-secondary);
    --titlebar-text-color-focused: #c9895b;

    // Backgrounds
    --background-modifier-hover: var(--color-base-25);
    --background-modifier-border-focus: #b15f3f;

    /// THEME VARIABLES
    color-scheme: dark;
    --highlight-mix-blend-mode: lighten;
    --mono-rgb-0: 0, 0, 0;
    --mono-rgb-100: 255, 255, 255;
    --color-red-rgb: 251, 70, 76;
    --color-red: #fb464c;
    --color-green-rgb: 68, 207, 110;
    --color-green: #44cf6e;
    --color-orange: #e9973f;
    --color-yellow: #e0de71;
    --color-cyan: #53dfdd;
    --color-blue: #027aff;
    --color-purple: #a882ff;
    --color-pink: #fa99cd;

    --color-base-00: #4d2419; // bg-primary
    --color-base-10: #633326; // bg-primary-alt
    --color-base-20: #471d11; // bg-secondary //title-bar //title-bar-focused
    --color-base-25: #633326; // bg-modifier-form-field
    --color-base-30: #916749; // bg-secondary-alt
    --color-base-35: var(--color-base-30); // borders (?)
    --color-base-40: #d4996e;
    --color-base-50: #e9bd9e; // txt-faint
    --color-base-60: #999;
    --color-base-70: var(--color-base-50); // txt-muted
    --color-base-100: #e7b998;

    --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);

    --color-accent: #cf8920; // text-accent
    --color-accent-2: #ec9e0e; //txt-accent-h

    --color-accent-1: var(--color-base-30);

    --background-modifier-form-field: var(--color-base-25);
    --background-secondary-alt: var(--color-base-30);
    --interactive-normal: var(--color-base-30);
    --interactive-hover: var(--color-base-35);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-cover: rgba(10, 10, 10, 0.4);

    --text-highlight-bg: rgba(160, 99, 38, 0.4);
    --text-highlight-bg-active: var(--text-highlight-bg);
    --text-selection: #6b3729;
    --txt-selected-arrow: #eec5a8;

    --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
      0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
    --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
      0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2),
      0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
      0px 3.4px 6.7px rgba(0, 0, 0, 0.179), 0px 15px 30px rgba(0, 0, 0, 0.3);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
      0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);

    //// Theme Variables

    // CUSTOM Variables
    // Hover Elements
    --notice-bg-c: #9e6237;
    --tooltip-bg-c: #995c31;

    // - Settings
    --settings-button-bg-c-h: #b38565; //Settings Button Background Color Hover

    // - Note
    --activeline: #532b1f;

    // - Blockquote
    --blockquote-cm-highlight-bg-c: rgba(146, 87, 28, 0.4);
    --blockquote-pre-code-bg-c: #64371e;
    --blockquote-bold-c: #cc6723;
    --blockquote-italic-c: #d49d35;

    // - Callouts
    --callout-content-bg-c: var(--blockquote-background-color);

    // - Codeblocks
    --codeblocks-button-bg-c: #694124;
    --codeblocks-button-bg-c-h: #754d30;

    // - Headings
    --heading-counter: #e04242;

    // - Plugins
    // -- Dataview
    --DV-border-c: #723e30;

    // -- Kanban
    --KB-mark-bg-c: rgba(156, 107, 14, 0.4);
  }
}

.theme-light {
  &.ACS_GC {
    // Obsidian Left Panel Icon
    .sidebar-toggle-button.mod-left {
      .clickable-icon {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='18' height='18' fill='none' stroke='saddlebrown' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M 30.91 17.52 L 34.43 35.7 M 61.44 14.41 L 62.61 0 M 34.43 35.7 L 37.57 90.47 M 81 26.39 L 61.44 14.41 L 34.43 35.7 L 65.35 100 M 62.61 0 L 30.91 17.52 L 18 45.45 L 37.57 90.47 L 65.35 100 L 70.44 89.8 L 81 26.39 L 62.61 0 Z'%3E%3C/path%3E%3C/svg%3E");
        }
      }
    }

    // Horizontal Line Icon
    .markdown-preview-view {
      hr {
        &:after {
          content: "\f7b6";
        }
      }
    }

    .cm-line {
      color: var(--text-normal); // (Whats up with --text-normal on edit view?)
    }

    button.mod-cta {
      &:hover {
        background-color: #e0ad5f;
      }
    }

    //// Native Variables
    // Blockquotes
    --blockquote-border-thickness: 3px;
    //--blockquote-border-color: #336d4d;
    --blockquote-color: var(--text-faint);
    --blockquote-background-color: #f7e4d3;
    --blockquote-bold-c: #ca9648;
    --blockquote-italic-c: #ee940c;

    // Bold
    --bold-color: #b36b29;

    // Callouts
    --callout-blend-mode: normal;
    --callout-content-bg-c: var(--blockquote-background-color);

    // Icons
    --icon-color-active: #af5603;
    --icon-color-focused: #af5603;

    // Indentation Guide
    --indentation-guide-color: var(--color-base-40);
    --indentation-guide-color-active: var(--color-base-50);

    // Italic
    --italic-color: #d88405;

    // Scrollbars
    --scrollbar-bg: transparent;
    --scrollbar-thumb-bg: #eed9c2;
    --scrollbar-active-thumb-bg: #e2c5a6;

    // Window Frame
    //--titlebar-background: #2e3a42;
    //--titlebar-background-focused: var(--background-secondary);
    --titlebar-text-color-focused: #b87003;

    // Backgrounds
    --background-modifier-hover: var(--color-base-25);
    --background-modifier-border-focus: var(--color-base-30);

    //// Theme Variables

    // Light Mode Special Mods
    --interactive-normal: #ffd2ad;
    --interactive-hover: #ffdbb9;
    --interactive-accent: var(--text-faint);

    color-scheme: light;
    --highlight-mix-blend-mode: darken;
    --mono-rgb-0: 255, 255, 255;
    --mono-rgb-100: 0, 0, 0;
    --color-red-rgb: 228, 55, 75;
    --color-red: #e4374b;
    --color-green-rgb: 12, 181, 79;
    --color-green: #0cb54f;
    --color-orange: #d96c00;
    --color-yellow: #bd8e37;
    --color-cyan: #2db7b5;
    --color-blue: #086ddd;
    --color-purple: #876be0;
    --color-pink: #c32b74;

    --color-base-00: #fff3e7; // bg-primary
    --color-base-05: var(--color-base-20); // titlebar (on-active)
    --color-base-10: #f3dbc1; // bg-primary-alt
    --color-base-20: #ffedd9; // bg-secondary
    --color-base-25: #f3dbc1; // bg-modifier-form-field
    --color-base-30: #e0c1a0; // bg-secondary-alt
    --color-base-35: var(--color-base-30); // borders (?)
    --color-base-40: #d6b086; // border(?)
    --color-base-50: #cf8a3a; // txt-faint
    --color-base-60: #ff00ff; // tbd (??)
    --color-base-70: var(--color-base-100); // txt-muted
    --color-base-100: #97653c; // text-normal

    --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);

    --color-accent: #d83939; // txt-accent
    --color-accent-2: #ec5555; // txt-accent-h

    --color-accent-1: #00ff00;

    --background-secondary-alt: var(--color-base-05);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-cover: rgba(220, 220, 220, 0.4);

    --text-highlight-bg: rgba(255, 203, 61, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);

    --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12),
      0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1.5px 0 rgba(0, 0, 0, 0.03),
      0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
    --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17),
      0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 1.5px 0 rgba(0, 0, 0, 0.03),
      0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028),
      0px 3.4px 6.7px rgba(0, 0, 0, 0.042), 0px 15px 30px rgba(0, 0, 0, 0.07);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
      0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);

    // CUSTOM Variables
    // Hover Elements
    --notice-bg-c: #b36d3f;
    --tooltip-bg-c: #d3824d;

    // - Settings
    //--settings-button-bg-c-h: #71bfff; //Settings Button Background Color Hover
    --settings-button-bg-c-h: var(
      --interactive-hover
    ); //Settings Button Background Color Hover

    // - Note
    --activeline: #ffead4;
    --text-selection: #ffdfbd;

    --blockquote-cm-highlight-bg-c: rgba(116, 216, 203, 0.4);
    --blockquote-pre-code-bg-c: #f0c99c;
    //--blockquote-bold-c: #46b47d;
    //--blockquote-italic-c: #59ceba;

    //--codeblocks-button-bg-c: #15232e;
    //--codeblocks-button-bg-c-h: #1d405a;

    --heading-counter: #da7b64;
    --txt-selected-arrow: #a05209;

    // - Plugins
    // -- Dataview
    --DV-border-c: #fdd3b0;

    // -- Kanban
    --KB-mark-bg-c: rgba(243, 187, 82, 0.4);
  }
}
