/* Plugins Settings */

.theme-dark,
.theme-light {
  &.AT_GB {
    .community-plugin-name,
    .community-plugin-details-empty-state,
    .community-plugin-version {
      color: #c24829;
    }

    .community-plugin-author {
      color: #aa896c;
    }

    .community-plugin {
      --text-muted: #aa896c;
      --text-normal: #b39377;
    }
  }
}
