/* Settings */

.theme-dark,
.theme-light {
  &.AT_GB {
    .vertical-tab-nav-item,
    .setting-item-description {
      color: #af8f73;
    }

    .setting-item-name,
    .vertical-tab-header-group-title {
      color: #ad5a10;
    }

    .dropdown {
      color: #af8f73;

      * {
        background-color: #302418;
      }
    }

    button {
      background-color: #744625 !important;
      color: #f0c7aa;

      &:hover {
        filter: brightness(120%);
      }
    }

    .setting-hotkey {
      color: #a07e61;
    }

    .mod-settings {
      --text-muted: #a83911;
      --text-faint: #a83911;
      --a: #da1c1c;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 .login-field,
      .u-center-text {
        color: #af8f73;
      }

      p {
        color: #a07e61;
      }
    }

    .modal {
      & button:not(.mod-cta):not(.mod-warning) {
        &:hover {
          filter: none;
        }
      }
    }

    .setting-item-info {
      transition: 0.15s ease-in-out;
      filter: brightness(120%);

      &:hover {
        filter: brightness(150%);
      }
    }
  }
}
