@mixin default_icon_settings {
  font-family: "FA5FS";
  font-size: 1em;
  padding-right: 5px;
}

.nav-file-title[data-path$="Home.md"] {
  .nav-file-title-content::before {
    content: "\f015";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="Inbox"] {
  .nav-folder-title-content::before {
    content: "\f01c";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="Management"] {
  .nav-folder-title-content::before {
    content: "\f46c";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="Slip-Box"],
.nav-folder-title[data-path$="Project-Box"] {
  .nav-folder-title-content::before {
    content: "\f468";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="Sources"] {
  .nav-folder-title-content::before {
    content: "\f07c";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="Workbench"] {
  .nav-folder-title-content::before {
    content: "\f7d9";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="Attachments"],
.nav-folder-title[data-path$="Gallery"] {
  .nav-folder-title-content::before {
    content: "\f0c6";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="Documents"] {
  .nav-folder-title-content::before {
    content: "\f0c7";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="Templates"] {
  .nav-folder-title-content::before {
    content: "\f573";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="Issues"] {
  .nav-folder-title-content::before {
    content: "\f188";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="Repository"] {
  .nav-folder-title-content::before {
    content: "\f121";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="· Archive"] {
  .nav-folder-title-content::before {
    content: "\f1c6";
    @include default_icon_settings;
  }
}

.nav-folder-title[data-path$="LOG"],
.nav-folder-title[data-path$="log"],
.nav-folder-title[data-path$="Log"] {
  .nav-folder-title-content::before {
    content: "\f52d";
    @include default_icon_settings;
  }
}
