/*!
/* @settings

name: User Interface - Visibility
id: HL
settings:
    - 
        id: HL-sidedock
        title: Side Dock Ribbon
        description: 
            "'Partially Hidden' only move aside the side dock until you hover over it. 'Fully Hidden' just makes it dissapear."
        description.es:
            "'Partially Hidden' esconde el side dock al lado, ocultandolo por completo hasta que pases el cursor cerca del lateral. 'Fully Hidden' lo esconde por completo para nunca más verlo."
        type: class-select
        allowEmpty: false
        default: disabled
        options:
            - 
                label: Disabled
                value: disabled
            - 
                label: Partially Hidden
                value: HL-sidedock-PH
            -   
                label: Fully Hidden
                value: HL-sidedock-FH
*/

.HL-sidedock-PH {
  .workspace-ribbon.mod-left::before,
  .sidebar-toggle-button.mod-left,
  .sidebar-toggle-button.mod-right,
  .workspace-tab-header-tab-list {
    display: none;
  }

  .workspace-ribbon.side-dock-ribbon.mod-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin-top: 0px;
    margin-left: -24px;

    background-color: transparent;
    border-color: transparent;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: margin-left 0.2s ease-in-out, background-color 0.2s ease-in-out;

    .side-dock-settings {
      border-top: 2px solid var(--tab-outline-color);
    }

    &:hover {
      transition: margin-left 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

      margin-left: 0px;

      background-color: var(--background-secondary);

      border-top: 1px solid var(--tab-outline-color);
      border-bottom: 1px solid var(--tab-outline-color);
      border-right: 1px solid var(--tab-outline-color);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
  }
}

.HL-sidedock-FH {
  .workspace-ribbon.mod-left::before,
  .sidebar-toggle-button.mod-left,
  .sidebar-toggle-button.mod-right,
  .workspace-tab-header-tab-list,
  .workspace-ribbon.side-dock-ribbon.mod-left {
    display: none;
  }
}
