.HL-WSTabHeaders-PH {
  .workspace-split.mod-horizontal.mod-left-split,
  .workspace-split.mod-horizontal.mod-right-split {
    .workspace-tab-header-container {
      .workspace-tab-header-container-inner {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
      }

      //height: 25px;
      border-bottom: none;
      //border-right: 1px solid var(--divider-color);

      .workspace-tab-header {
        &.is-active {
          background-color: var(--text-muted);
        }

        transition: height 0.2s ease-in-out;

        height: 5px;

        margin-top: auto;
        margin-bottom: auto;

        background-color: var(--interactive-accent);

        svg {
          transition: opacity 0.2s ease-in-out;
          opacity: 0;
        }

        &:hover {
          //height: initial;
          background-color: transparent !important;
          height: 20px;
          border-bottom: 0px;

          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}
