.HL-navButtons-PH {
  .workspace-tabs.mod-top.mod-top-left-space,
  .workspace-tabs.mod-top.mod-top-right-space {
    .nav-header {
      transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out;

      width: 50%;
      height: 3px;

      padding: 0px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 5px;

      margin-left: auto;
      margin-right: auto;

      background-color: var(--interactive-accent);

      svg {
        transition: opacity 0.1s ease-in-out;
        opacity: 0;
      }

      &:hover {
        background-color: transparent;
        height: 25px;

        svg {
          opacity: 1;
        }
      }
    }
  }
}

.HL-navButtons-FH {
  .workspace-tabs.mod-top.mod-top-left-space,
  .workspace-tabs.mod-top.mod-top-right-space {
    .nav-header {
      transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out;
      opacity: 0;
      height: 5px;

      &:hover {
        opacity: 1;
        height: 30px;
      }
    }
  }
}
