.HL-sidedock-PH {
  .workspace-ribbon.mod-left::before,
  .sidebar-toggle-button.mod-left,
  .sidebar-toggle-button.mod-right,
  .workspace-tab-header-tab-list {
    display: none;
  }

  .workspace-ribbon.side-dock-ribbon.mod-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin-top: 0px;
    margin-left: -24px;

    background-color: transparent;
    border-color: transparent;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: margin-left 0.2s ease-in-out, background-color 0.2s ease-in-out;

    .side-dock-actions,
    .side-dock-settings {
      opacity: 0;
    }

    .side-dock-settings {
      border-top: 1px solid var(--divider-color);
    }

    &:hover {
      transition: margin-left 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

      margin-left: 0px;

      background-color: var(--background-secondary);

      border-color: var(--divider-color);
      border-top: 1px solid var(--divider-color);
      border-bottom: 1px solid var(--divider-color);
    }
  }
}

.HL-sidedock-FH {
  .workspace-ribbon.mod-left::before,
  .sidebar-toggle-button.mod-left,
  .sidebar-toggle-button.mod-right,
  .workspace-tab-header-tab-list,
  .workspace-ribbon.side-dock-ribbon.mod-left {
    display: none;
  }
}
