.HL-rootTabs-PH {
  .workspace-ribbon.mod-left::before,
  .sidebar-toggle-button.mod-left,
  .sidebar-toggle-button.mod-right,
  .workspace-tab-header-tab-list {
    height: 24px;
  }

  .workspace-tabs.mod-top.mod-top-right-space,
  .workspace-tabs.mod-top.mod-top-left-space {
    .workspace-tab-header-container {
      height: 25px;

      .workspace-tab-header-container-inner {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }

  .workspace-ribbon.mod-left {
    margin-top: calc(var(--header-height) - 10px);
  }

  .workspace-split.mod-vertical.mod-root {
    //.workspace-tabs.mod-top {
    .workspace-tab-header-container {
      height: fit-content;
      //padding-right: calc(var(--frame-right-space) - 11px);

      .workspace-tab-header-container-inner {
        margin: auto;
        width: 100%;
        gap: 5px;

        .workspace-tab-header {
          transition: all 0.2s ease-in-out;
          flex-grow: 0.1;

          border-color: transparent;

          height: 5px;

          margin-top: auto;
          margin-bottom: auto;

          * {
            opacity: 0;
          }

          background-color: var(--interactive-accent);

          &.is-active {
            background-color: var(--text-muted);
            border-top: none;
            border-radius: 0px;
            flex-grow: 0.15;
          }

          &:hover {
            flex-grow: 2;

            height: 22px;

            &.is-active {
              height: 22px;
            }

            background-color: transparent;

            * {
              opacity: 1;
            }
          }
        }
      }

      .workspace-tab-header-new-tab {
        padding-top: 2px;
        padding-bottom: 2px;

        .clickable-icon {
          transition: opacity 0.2s ease-in-out;
          opacity: 0.2;
          --icon-size: 12px;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .workspace-tab-header-tab-list,
    .sidebar-toggle-button.mod-right {
      transition: width 0.2s ease-in-out;
      width: 10px;
      position: relative;
      //height: 10px;

      svg {
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
      }

      &::after {
        content: "·";

        position: absolute;
        left: 0px;
        top: -13px;

        font-size: 40px;
        color: var(--text-muted);
      }

      &:hover {
        svg {
          opacity: 1;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  .titlebar-button-container.mod-right {
    height: 24px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.1;

    &:hover {
      opacity: 1;
    }

    .titlebar-button-container.mod-right {
      height: 24px;
    }
  }
}
