.theme-dark,
.theme-light {
  &.AT_GB {
    .CodeMirror-activeline .CodeMirror-linenumber {
      color: black;
    }

    .cm-s-obsidian pre.HyperMD-codeblock span.cm-formatting-code-block {
      color: #b3611f;
    }

    .HyperMD-quote {
      background-color: #b49172;
    }

    blockquote,
    .callout:not([data-callout="img-center"], [data-callout="pu"], [data-callout="pu-info"], [data-callout="pu-imp"], [data-callout="pu-check"], [data-callout="pu-quest"], [data-callout="pu-fail"]) {
      color: #ac8d71;

      strong {
        color: #a75017;
      }

      em,
      i {
        color: #c48b5d;
      }

      mark {
        color: #bba28d;
      }

      a {
        color: #b63737;
      }
    }

    .suggestion-item.is-selected {
      background-color: #422816;
    }

    .suggestion-note {
      color: #b36a2f;
    }

    th {
      color: #ac886a;
    }

    .cm-hr {
      color: #422816;
    }
  }
}
