/* Note Size - Readable Line Length */

/*.theme-dark,
.theme-light {
  .CodeMirror-wrap,
  .markdown-preview-section {
    min-width: 60%;
  }
}*/

:root {
  --custom-readable-line-lenght: 55em;
}

.theme-dark,
.theme-light {
  .markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width
    .cm-line:not(.HyperMD-table-row, .HyperMD-codeblock.cm-line),
  .markdown-preview-sizer.markdown-preview-section:not(.popover
      .markdown-preview-sizer.markdown-preview-section) {
    max-width: var(--custom-readable-line-lenght) !important;
  }

  .markdown-source-view.mod-cm6.is-readable-line-width {
    &:not(.is-rtl) .cm-contentContainer,
    .cm-content {
      max-width: var(--custom-readable-line-lenght) !important;
    }
  }

  .HyperMD-codeblock.cm-line {
    max-width: 65em !important;
  }
}
