/* Workspace - Removed Flex */

@keyframes moveInFromLeft {
  0% {
    transform: translateX(-35px);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes moveInFromRight {
  0% {
    transform: translateX(35px);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes opacityOpening {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes widthExtension {
  0% {
    width: 0%;
  }

  100% {
    //width: auto;
  }
}

.workspace-ribbon.side-dock-ribbon.mod-left,
.workspace-ribbon.side-dock-ribbon.mod-right {
  height: 100%;

  transition: opacity 0.2s ease-in-out;
  opacity: 1;

  &:not(:hover) {
    opacity: 0;
  }
}

.workspace-ribbon.side-dock-ribbon.mod-right {
  border-left: 1px solid var(--background-modifier-border);
}

.workspace-ribbon.side-dock-ribbon.mod-left {
  border-right: 1px solid var(--background-modifier-border);
}

.workspace-ribbon.side-dock-ribbon.mod-left,
.workspace-split.mod-horizontal.mod-left-split,
.workspace-ribbon.side-dock-ribbon.mod-right,
.workspace-split.mod-horizontal.mod-right-split {
  background-color: var(--background-secondary);
  position: absolute;
  z-index: 1;
}

.workspace-ribbon.side-dock-ribbon.mod-right,
.workspace-split.mod-horizontal.mod-right-split {
  right: 0;
}

.workspace-split.mod-horizontal.mod-left-split {
  left: 35px;
}

.workspace-split.mod-horizontal.mod-right-split {
  right: 35px;
}

/* Both Workspace Splits */
.workspace-split.mod-horizontal.mod-right-split,
.workspace-split.mod-horizontal.mod-left-split {
  height: 90%;
  top: 5%;

  padding-top: 5px;
  padding-bottom: 5px;

  border: 2px solid var(--background-modifier-border);
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  transition: opacity 0.3s ease-in-out;
  opacity: 0.3;

  &:hover,
  &:focus-within {
    opacity: 1;
  }

  .workspace-leaf-resize-handle {
    height: 98%;
    margin-bottom: 7px;

    background-color: transparent;
    border-color: transparent;

    &:hover {
      //border-color: red;
      width: 3px !important;
    }
  }
}

.nav-files-container {
  overflow-x: hidden;
}

/* Workspace Split Left*/
.workspace-split.mod-horizontal.mod-left-split {
  //TODO: Testing final opacity animation
  animation: 0.4s moveInFromLeft, 0.5s widthExtension;

  /*
  animation: 0.4s moveInFromLeft, 0.5s widthExtension,
  0.8s opacityOpening cubic-bezier(0.61, 0.06, 0.61, 0.94);
  */

  .workspace-leaf-resize-handle {
    margin-right: -2px;
  }
}

/* Workspace Split Right*/
.workspace-split.mod-horizontal.mod-right-split {
  //TODO: Testing final opacity animation
  animation: 0.4s moveInFromLeft, 0.5s widthExtension;

  .workspace-leaf-resize-handle {
    margin-left: -2px;
  }
}

/* Prompt */
.prompt input[type="text"] {
  border: none;
}

/* * from bold and italics */
.cm-formatting-strong,
.cm-formatting-em {
  font-family: var(--font-monospace);
  font-size: 12px;
}
