.modal.mod-community-modal.mod-sidebar-layout.mod-community-plugin,
.modal.mod-community-modal.mod-sidebar-layout.mod-community-theme {
  border-radius: 4px;

  .community-modal-controls {
    .setting-item,
    .setting-item.mod-toggle {
      margin-bottom: 5px;
      padding-bottom: 0px;
    }

    .community-modal-search-summary.u-muted {
      font-style: italic;
      padding-top: 0px;
      padding-bottom: 5px;
    }
  }

  .community-modal-search-results {
    gap: 5px;
    padding: 5px;

    .community-item {
      transition: all 100ms ease-in-out;
      border-radius: 4px;

      &:not(.is-selected):hover {
        transform: translate(0px, -4px);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }

      &-name {
        .flair.mod-pop {
          border-radius: 3px;
        }
      }

      &-updated {
        margin-bottom: 3px;
      }

      &-desc {
        margin-top: 0px;
        font-style: italic;
      }
    }
  }

  .community-modal-details {
    .modal-setting-nav-bar {
      padding-top: 5px;
      padding-bottom: 6px;
    }
  }

  .community-modal-info {
    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 10px;
    padding-right: 0px;

    &-name {
      margin-bottom: 5px;
    }

    &-desc {
      font-style: italic;
    }

    .community-modal-button-container {
      display: flex;
      justify-content: space-between;

      gap: 7px;

      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 5px;

      button {
        margin: 0px;
        width: 100%;
        height: 25px;
      }

      & + hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
