// Community Plugins

.modal {
  .community-modal-search-results {
    .community-item {
      transition: filter 0.15s ease-in-out;
      border-radius: 4px;

      &:hover {
        filter: brightness(110%);
      }
    }
  }
}
