.modal.mod-settings.mod-sidebar-layout {
  border-radius: 3px;

  .vertical-tab-header {
    padding: 0px;

    .vertical-tab-header-group {
      padding: 0px;

      .vertical-tab-header-group-title {
        font-weight: bolder;
      }

      .vertical-tab-header-group-items {
        .vertical-tab-nav-item {
          border-radius: 0px;

          margin: 0px;
        }
      }
    }
  }

  .vertical-tab-content-container {
    .vertical-tab-content {
      padding-top: 15px;
      padding-bottom: 15px;

      padding-left: 15px;
      padding-right: 35px;

      .setting-item {
        padding-top: 7px;
        padding-bottom: 7px;

        &.setting-item-heading {
          padding-bottom: 10px;

          .setting-item-info {
            .setting-item-name {
              font-size: medium;
            }
          }
        }

        .setting-item-info {
          .setting-item-description {
            font-style: italic;
          }
        }
      }
    }
  }

  button {
    &:hover {
      background-color: var(--settings-button-background-color-hover);
    }
  }

  .checkbox-container {
    &:not(.is-enabled) {
      background-color: var(--modal-checkbox-disabled);
    }
    &.is-enabled {
      background-color: var(--modal-checkbox-enabled);
    }
  }
}

.modal-container.mod-confirmation.mod-dim {
  .modal {
    padding: 10px;

    .modal-title {
      margin-bottom: 0px;
    }

    .modal-button-container {
      margin-top: 0px;
    }
  }
}
