.graph-controls {
  transition: opacity 125ms ease-in-out;
  border-radius: 3px;

  &:not(:hover) {
    opacity: 0.5;
  }

  &.is-close {
    border: var(--modal-border-width) solid var(--modal-border-color);
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    .clickable-icon {
      height: 30px;
      width: 30px;

      margin: 0px;

      border-radius: 0px;
    }
  }

  .clickable-icon {
    padding: 0px;
  }

  .tree-item {
    padding-left: 0px;
    padding-right: 0px;

    padding-top: 4px;
    padding-bottom: 4px;

    border: 0px;

    .tree-item-children {
      padding: 10px;
    }
  }
}
