@keyframes fade_in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.notice {
  animation: 700ms fade_in;
  border-radius: 4px;

  font-style: italic;

  padding-top: 7px;
  padding-bottom: 10px;

  padding-left: 10px;
  padding-right: 10px;

  line-height: 13px;

  color: var(--text-normal);
  background-color: var(--notice-background-color);
}
