@keyframes fade_in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.notice {
  animation: 700ms fade_in;
  border-radius: 4px;

  padding-top: 7px;
  padding-bottom: 10px;

  padding-left: 10px;
  padding-right: 10px;

  font-style: italic;
  line-height: 13px;
}
