.popover {
  border-radius: 3px;

  .markdown-preview-view.markdown-rendered.node-insert-event.show-indentation-guide {
    padding-left: 10px;
    padding-right: 10px;

    padding-top: 0px;
    padding-bottom: 0px;
  }

  &.hover-popover > .mod-empty {
    background-color: var(--background-primary);
  }
}
