// Author of the animation: Akifyss - obsidian-border theme
@keyframes scale-up-prompt {
  0% {
    transform: scale(0.5) translate(0px, -300px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translate(0px, 0px);
    opacity: 1;
  }
}

.prompt {
  animation: scale-up-prompt 200ms cubic-bezier(0.175, 0.9, 0.3, 1.1);
  border-radius: 3px;

  input.prompt-input {
    padding: 10px;
    height: fit-content;
  }

  .prompt-results {
    padding: 0px;

    .suggestion-item {
      transition: background-color 75ms ease-in-out;

      padding-top: 4px;
      padding-bottom: 4px;

      &.is-selected {
        border-radius: 0px;
      }

      .suggestion-hotkey {
        border-radius: 3px;
      }
    }
  }

  .prompt-instructions {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
