.prompt {
  border-radius: 3px;

  input.prompt-input {
    padding: 10px;
    height: fit-content;
  }

  .prompt-results {
    padding: 0px;

    .suggestion-item {
      transition: background-color 75ms ease-in-out;

      padding-top: 4px;
      padding-bottom: 4px;

      &.is-selected {
        border-radius: 0px;
      }

      .suggestion-hotkey {
        border-radius: 3px;
      }
    }
  }

  .prompt-instructions {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
