// Fonts
@use "./fonts/F-main";
@use "./fonts/F-code";
@use "./fonts/F-fancy";
@use "./fonts/F-coffee";

// Color Schemes
@use "./color-schemes/CS-ukiyo";
@use "./color-schemes/CS-GC";
@use "./color-schemes/CS-GB";
@use "./color-schemes/CS-GB-mess";
@use "./color-schemes/CS-ALCH";
@use "./color-schemes/CS-RS";

// Floating Elements
@use "./floating-elements/tooltip";
@use "./floating-elements/statusbar";
@use "./floating-elements/popover";
@use "./floating-elements/prompt";
@use "./floating-elements/loading";
@use "./floating-elements/notice";

// Settings
@use "./settings/general-modal";
@use "./settings/community";

// Workspace Left
@use "./workspace-left/nav-container";
@use "./workspace-left/ribbon";

// Workspace Root
// - Note
@use "./workspace-root/note/img";
@use "./workspace-root/note/mermaid";
@use "./workspace-root/note/blockquote";
@use "./workspace-root/note/callout";
@use "./workspace-root/note/latex";
@use "./workspace-root/note/table";
@use "./workspace-root/note/code";
@use "./workspace-root/note/embed";
@use "./workspace-root/note/headings";
@use "./workspace-root/note/hr";
@use "./workspace-root/note/links-footnote";
@use "./workspace-root/note/ol-ul";

// - UI
@use "./workspace-root/UI/tabs";
@use "./workspace-root/UI/active-line";
@use "./workspace-root/UI/resize-handles";
@use "./workspace-root/UI/empty";
@use "./workspace-root/UI/frontmatter";
@use "./workspace-root/UI/text-selection";
@use "./workspace-root/UI/header";

// Features
@use "./features/custom-table";
@use "./features/clear-table";
@use "./features/centered-callouts";
@use "./features/figure";

// CSS Classes
@use "./css-classes/no-width";
@use "./css-classes/force-center";
@use "./css-classes/home-page";
@use "./css-classes/issues_appereance";

// Plugins
@use "./plugins/dataview";
@use "./plugins/kanban";

// PKM Specific
@use "./pkm-specific/folder-icons";

// Style Settings
@use "./style-settings/SS-main";

// PDF
@use "./PDF.scss";

body {
  --font-default: "Asap";
  --font-monospace: "JetBrains Mono";

  .inline-title {
    display: none;
  }

  .markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
    padding-left: 2px;

    .cm-indent {
      &::before {
        transform: none;
      }
    }
  }

  .markdown-rendered.show-indentation-guide li > ul::before,
  .markdown-rendered.show-indentation-guide li > ol::before {
    left: -12px;
  }

  .mjx-i {
    * {
      font-family: MJXTEX;
    }
  }
}