// FONTS
@use "./fonts/font_default";
@use "./fonts/font_fancy";
@use "./fonts/font_icons";
@use "./fonts/font-code";
@use "./fonts/font-coffee";

@use "./custom/callouts/DV_kanban";
@use "./custom/callouts/figure";
@use "./custom/callouts/centered-callout";
@use "./custom/callouts/table_types";
@use "./custom/cssClasses/center-headings";
@use "./custom/cssClasses/DV_tasks";
@use "./custom/cssClasses/full-width";
@use "./custom/folder-icons";

@use "./floating-elements/prompt";
@use "./floating-elements/graph";
@use "./floating-elements/suggestion";
@use "./floating-elements/popover";
@use "./floating-elements/tooltip";
@use "./floating-elements/notice";
@use "./floating-elements/screenEmpty";
@use "./floating-elements/screenLoading";

@use "./general/active-line";
@use "./general/scrollbar";
@use "./general/compact";

@use "./note/default-callouts";
@use "./note/default-tables";
@use "./note/centered-stuff";
@use "./note/cleanEmbed";
@use "./note/listItems";
@use "./note/blockquote";
@use "./note/code";
@use "./note/headings";
@use "./note/hr";
@use "./note/mathjax";
@use "./note/footnote";

@use "./plugins/dataview";
@use "./plugins/kanban";
@use "./plugins/calendar";
@use "./plugins/baseSS";

@use "./settings/community-modal";
@use "./settings/settings-modal";

@use "./workspace-root/header";
@use "./workspace-root/rootTabs";
@use "./workspace-root/titlebar";
@use "./workspace-root/menu";
@use "./workspace-root/statusbar";
@use "./workspace-root/frontmatter";
@use "./workspace-root/canvas";

@use "./worspace-left/tab";
@use "./worspace-left/nav-header";
@use "./worspace-left/folder-files";
@use "./worspace-left/ribbon";

@use "./PDF";
@use "./style-settings/SS-main";

body {
  --font-default: "Asap";
  --font-monospace: "JetBrains Mono";

  --titlebar-background-focused: var(--background-secondary);
  --file-line-width: 65em;

  --tag-radius: 3px;
  --tag-padding-y: 0px;
  --tag-padding-x: 5px;
}
