/*!
/* @settings

name: General Settings
id: GS
settings:
    - 
        id: AT
        title: Color Scheme
        description: 
            "Choose which color scheme to use"
        description.es:
            "Escoge el esquema de colores a usar"
        type: class-select
        allowEmpty: false
        default: CS_default
        options:
            -     
                label: Ukiyo
                value: CS_default
            - 
                label: Golden Coffee
                value: CS_GC        
            -   
                label: Golden Book
                value: CS_GB
            -
                label: Alchemy
                value: CS_ALCH
            -
                label: Rose Shadow
                value: CS_RS
            -
                label: Cozy Room
                value: CS_CR
    -
*/
