/* Statusbar */

.theme-dark,
.theme-light {
  &.AT_GB {
    .status-bar-item {
      color: #ac6a14;

      &:hover {
        filter: none;
        color: #c77b17;
      }
    }
  }
}
