/* Prompt */

.theme-dark,
.theme-light {
  &.AT_GB {
    .prompt {
      background-color: #302418;
      border-color: var(--DM-modal-settings-border);

      .suggestion-item {
        &.is-selected {
          background-color: #3d2c1a;
        }
      }

      .suggestion-item,
      .suggestion-highlight,
      .suggestion-hotkey {
        color: #a8876a;
      }

      .suggestion-prefix {
        color: #b96228;
      }
    }
  }
}
