/* Menu */

.theme-dark,
.theme-light {
  &.AT_GB {
    .menu {
      color: #c28958;

      & .selected {
        background-color: #36281a;
      }

      .menu-item-icon {
        color: #ce9665;
      }
    }
  }
}
