/* Settings Plugins */

.theme-dark,
.theme-light {
  .community-plugin-item {
    transition: 0.13s ease-in-out;

    &:hover {
      filter: brightness(120%);
    }
  }

  .vertical-tab-content-container {
    input:not(.slider) {
      width: 20em;
    }
  }

  input.slider {
    width: 12em;
  }

  .modal.mod-community-plugin {
    /*width: 97.3vw;
    max-width: 97.3vw;*/
    width: 77.3vw;
    max-width: 77.3vw;
    height: 51.9vw;
    border-radius: 0px;
    border: 2px solid var(--s-community-plugins-modal-border-color);

    & .vertical-tab-header {
      margin-top: 5px;
      flex-basis: 300px;
      height: 51.9vw;
      padding: 0px;
    }

    & .vertical-tab-content-container {
      padding-top: 10px;
      padding-bottom: 0px;
      height: 51.9vw;
    }

    .setting-item-info {
      display: none;
    }

    .setting-item-control {
      justify-content: flex-end;

      & .search-input-container {
        width: 100%;
      }

      & button {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    /*.community-plugin-info {
      .external-link {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
      }
    }*/

    .community-plugin-item {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 7px;
      padding-bottom: 7px;

      .flair.mod-pop {
        text-transform: uppercase;
        vertical-align: unset;
        top: -3px;
      }
    }

    .community-plugin-details {
      .flair.mod-pop {
        text-transform: uppercase;
        vertical-align: unset;
        top: -4px;
      }
    }

    .community-plugin-readme {
      kbd {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }
}
