/* Themes Settings */

.theme-dark,
.theme-light {
  .modal.mod-community-theme {
    /*width: 97.3vw;
    max-width: 97.3vw;*/
    width: 77.3vw;
    max-width: 77.3vw;
    height: 51.9vw;
    border-radius: 0px;
    border: 2px solid var(--s-community-themes-modal-border);

    & .vertical-tab-header {
      margin-top: 5px;
      flex-basis: 300px;
      height: 51.9vw;
      padding: 0px;
    }

    & .vertical-tab-content-container {
      padding-top: 10px;
      padding-bottom: 0px;
      height: 51.9vw;
    }

    .community-theme-mode-toggle-container {
      margin-top: 11.5px;
      margin-left: 5px;
    }
  }

  .theme-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    & .community-theme {
      justify-self: center;
    }
  }

  .community-theme-filters-container {
    padding: 0px;
  }

  .modal {
    & .community-theme {
      width: 100%;

      & .community-theme-title {
        font-size: 20px;
        margin-bottom: 10px;
      }

      &-filters-container .setting-item-control {
        justify-content: flex-end;

        & .search-input-container {
          width: 100%;
        }

        & button {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }

  .community-theme-mode-toggle-container {
    margin-top: 9px;
  }

  .community-theme-screenshot {
    width: 200px;
    height: 130px;
  }

  .community-theme {
    transition: 0.125s ease-in-out;

    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;

    &:hover {
      filter: brightness(120%);
    }

    &.is-selected {
      grid-column: 1 / 6;
      grid-row: 1;
      max-width: 96%;

      display: grid;
      grid-template-columns: 1.2fr 2fr;
      //grid-template-rows: 0.2fr 1fr;
      padding: 20px 20px;

      & .community-theme-title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        text-align: left;
        font-size: 2rem;
        margin: 1rem 1.2rem;

        margin-left: 45px;

        &::before {
          content: "";
          display: block;
          position: absolute;

          margin-left: -35px;
          margin-top: -4px;

          width: 30px;
          height: 30px;

          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='2 2 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 15.2348L12 18.5681L18 15.2348V8.76521L12 5.43188L6 8.76521V15.2348ZM12 2L3 7V17L12 22L21 17V7L12 2Z' fill='darkseagreen' /%3E%3C/svg%3E");
        }
      }

      & .modal-button-container {
        grid-column: 2 / 2;
        grid-row: 1 / 2;

        text-align: left;
        margin-top: 0px;
        margin-left: 10px;

        button {
          background-color: var(--background-secondary-alt);
        }
      }

      & .community-theme-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 30px 0px 300px;
        margin: 0;

        & .community-theme-downloads {
          margin: 0;
        }

        .clickable-icon {
          transition: all 0.2s ease-in-out;
          grid-column: 1 / 4;
          margin-top: -2.1em;
          margin-left: auto;
          margin-right: auto;
          width: 20px;
        }
      }

      /*div:not(.community-theme-title, .community-theme-info, .modal-button-container) {
        /*width: 75%;
        height: 95%;*/ /*
        width: 40vw;
        height: 40vh;
        margin: auto;
        position: relative;
      }*/

      /*& img.community-theme-screenshot {
        max-width: 100%;
        width: 95%;
        height: 95%;
        //margin-left: 25px;
        margin: auto;
      }*/

      & .community-theme-info.u-center-text + div {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        //max-width: 100%;
      }

      & .community-theme-screenshot {
        max-width: 100%;
        width: 90%;
        height: 90%;
        //margin-left: 25px;
        margin: auto;
      }

      & .community-theme-remove-button {
        display: block;
        top: 36px;
        right: 24px;
        width: 48px;
        height: 28px;

        border-radius: 32px;

        &:hover {
          color: red;
        }

        svg {
          margin-top: 2px;
          margin-left: 10px;
        }
      }

      /* Notes and Link to Documentation */
      &.is-selected .community-theme-info {
        padding-top: 10px;

        &::after {
          content: "Thank You for choosing this theme, I hope you enjoy it as much as I do! 😊\A\A I just want to warn you that some features/icons may seem like they're not available, but it's just that they're not visible. Since this is a theme that, mainly, I created for myself, I decided to 'erase' some of this icons. This doesn't mean that they are not available, it means that you may need to go to the Settings and make some adjustments to the Shortcuts that you may or may not use. \A\A All the changes, general information and shortcuts that you need to change are all listed on the GitHub Repository.\A\A Any feedback or feature request can be made on the GitHub Repository of this theme.\A\A";
          grid-column: 1 / 3;
          grid-row: 3 / 5;

          width: 88%;

          position: relative;
          align-self: center;
          justify-self: center;

          color: var(--text-normal);
          line-height: 1.4;
          border: none;

          text-align: left;
          white-space: pre-wrap;
        }
      }
    }
  }
}
